<div id='color-panel' class='pg-panel toggle-off'>
<div class='smalltab' data-toggle='#color-panel'>color</div>

<div id='color-chart' class='red hsl-pal panel-switch panel-toggle'>

<div class='p-chart content'>

<div class='p-color'>
	<h4>Colors</h4>
	<div class='row'>
		<div class='bgcolor-bg'>
			<input onchange='javascript:cocok("color")' type='color' value='#ffffff' name='color'>
		</div>
		<div class='legend'>Main Color [<a href='javascript:randomcolor()'>Random</a>]</div>
	</div>
	<div class='row'>
		<div class='bgcolor-primary'>
			<input onchange='javascript:cocok("primary")' type='color' value='#ffffff' name='primary'>
		</div>
		<div class='legend'>Primary</div>
	</div>
	<div class='row'>
		<div class='bgcolor-secondary'>
			<input onchange='javascript:cocok("secondary")' type='color' value='#ffffff' name='secondary'>
		</div>
		<div class='legend'>Secondary</div>
	</div>
</div>

<div class='p-color'>
	<h4>Contrast Ratio</h4>
	<div class='row'>
	<div class='bgcolor-b0'></div>
	<div class='bgcolor-dc'></div>
	<div class='bgcolor-bg'></div>
	<div class='bgcolor-lc'></div>
	<div class='bgcolor-w0'></div>
	</div>
</div>

<div class='p-color'>
	<h4>Light Grade</h4>
	<div class='row'>
		<div class='bgcolor-b0'></div>
		<div class='bgcolor-b1'></div>
		<div class='bgcolor-d3'></div>
		<div class='bgcolor-d2'></div>
		<div class='bgcolor-d1'></div>
	</div>
	<div class='row'>
		<div class='bgcolor-l1'></div>
		<div class='bgcolor-l2'></div>
		<div class='bgcolor-l3'></div>
		<div class='bgcolor-w1'></div>
		<div class='bgcolor-w0'></div>
	</div>
</div>

<div class='p-color'>
	<h4>Supplement</h4>
	<div class='row'>
	<div class='bgcolor-co'></div>
	<div class='bgcolor-a1'></div>
	<div class='bgcolor-a2'></div>
	<div class='bgcolor-t1'></div>
	<div class='bgcolor-t2'></div>
	</div>
</div>

<div class='p-color'>
<textarea rows=5 class='color-code'>
</textarea>
</div>

</div><!-- content -->
</div><!-- chart -->
</div><!-- panel -->

<!---- sep ------------------------------------------>

<script>

	construct_SectionPallete2("#color-chart");
	construct_SectionPallete2(".gas-docu .pg");
	
	if ( gas('#color-chart').cssvar('color') ) {
		document.querySelector("#color-chart input[name='color']").value = gas('#color-chart').cssvar('color').replace(/\s?/ig,'');
	}
	if ( gas('#color-chart').cssvar('primary') ) {
		document.querySelector("#color-chart input[name='primary']").value = gas('#color-chart').cssvar('primary').replace(/\s?/ig,'');
	}
	if ( gas('#color-chart').cssvar('secondary') ) {
		document.querySelector("#color-chart input[name='secondary']").value = gas('#color-chart').cssvar('secondary').replace(/\s?/ig,'');
	}
	
	function cocok(what) {
		var i = document.querySelector("#color-chart input[name='"+what+"']");
		val = i.value
		if (val=='') {
			gas('#color-chart').cssvarRemove(what);
		} else {
			var val = document.querySelector("#color-chart input[name='"+what+"']").value;
			gas('#color-chart').cssvar(what,val)
			gas('.gdocu .pg').cssvar(what,val)
			gas('.gdocu .pg').addClass('hsl-pal');
		}

		construct_SectionPallete2("#color-chart");
		construct_SectionPallete2(".gdocu .pg");
		
		gas("textarea.color-code").content('--color:'+val+';')
	}

	function randomcolor() {
		var letters = '0123456789ABCDEF';
		var color = '#';
		for (var i = 0; i < 6; i++) {
			color += letters[Math.floor(Math.random() * 16)];
		}
		document.querySelector("#color-chart input[name='color']").value = color;
		cocok("color");
	}


document.querySelectorAll('#color-chart [class*=bgcolor-]').forEach(function(c) {
	var ori = c.innerHTML ;
	if (ori=='') { 
		c.innerHTML += c.getAttribute('class').replace('bgcolor-','')
	}
	
});

</script>