@function str-trim($string) {
	@if (str-slice($string, 1, 1) == ' ') {
		@return str-trim(str-slice($string, 2));
	} @else if (str-slice($string, str-length($string), -1) == ' ') {
		@return str-trim(str-slice($string, 1, -2));
	} @else {
		@return $string;
	}
}

@function safevar($val) {
	// dealing with missing comma in css var?
	@return #{$val};
}

@function not-empty($var) {
	@if ($var=='false') { @return false; }	
	@else if ($var=='0') { @return false; }	
	@else if ($var=='') { @return false; }	
	@else if ($var=='null') { @return false; }	
	@else if ($var==false) { @return false; } 
	@else if ($var==null) { @return false; }
	@return true;
}

@function isnt-same($var1, $var2: false ) {
	@if $var1 == $var2 { 
		@return false; 
	} @else {
		@return true
	}
}  

@function lower-bound($range){
	@if length($range) <= 0 {
		@return 0;
	}
	@return nth($range,1);
}

@function upper-bound($range) {
	@if length($range) < 2 {
		@return 999999999999;
	}
	@return nth($range, 2);
}

@function opposite-direction($dir) {
	@if $dir == 'left' {
		@return right;
	}
	@else if  $dir == 'right' {
		@return left;
	}
	@else if $dir == 'ltr' {
		@return rtl;
	}
	@else if $dir == 'rtl' {
		@return ltr;
	}
	@else if $dir == 'top' {
		@return bottom;
	}
	@else if $dir == 'bottom' {
		@return top;
	}
	@else {
		@warn "#{$dir} is not a direction! Make sure your direction is all lowercase!";
		@return false;
	}
}

@function named-direction($dir) {
	@if $dir == 'ltr' {
		@return left;
	}
	@else if $dir == 'rtl' {
		@return right;
	}
	@else {
		@warn "#{$dir} is not a valid HTML direction! Make sure you are using a valid HTML direction";
		@return false;
	}
}