

// Page Container

.g-container {
	width: $breakpoints-large-desktop-container;
	@include breakpoint(desktop-range) {
		width: $breakpoints-desktop-container;
	}
	@include breakpoint(tablet-range) {
		width: $breakpoints-tablet-container;
	}
	@include breakpoint(large-mobile-range) {
		//width: $breakpoints-large-mobile-container;
		width: 100%;
	}
	@include breakpoint(small-mobile-range) {
		//width: $breakpoints-mobile-container;
		width: 100%;
	}

	&.g-flushed {
		width: 100%;
	}
}

// Grid Row and Column Setup


@include breakpoint(mobile-only) {

	.g-block {
	
		@include flex-grow(0);
		@include flex-basis(100%);
		
		&[class*="size-"] {
			@include flex-grow(0);
			@include flex-basis(100%);
			max-width: 100%;
			width: 100%;
			.res { width: 100%; }

		}

		@for $i from 5 through 24 {
			.size-#{$i} {
				@include flex-grow(0);
				@include flex-basis(50%);
				max-width: 50%;
				width: 50%;
				.res { width: 50%; }

			}
			
			.size-#{$i}:last-child {
				@include flex-grow(1);
				max-width: 100%;
			}
		}
		
		.size-25 + .size-25 {
			@include flex-grow(0);
			@include flex-basis(50%);
			max-width: 50%;
			width: 50%;
		}

		.flex-grow {
			@include flex-grow(1);
			max-width: 100% !important;
		}

	}

}



// Fix for Firefox versions 27 and below
@include breakpoint(mobile-only) {
	@supports not (flex-wrap: wrap) {
		.g-grid {
			display: block;
			@include flex-wrap(inherit);
		}
		.g-block {
			display: block;
			@include flex(inherit);
		}
	}
}

// Page Container
.g-container {
	margin: 0 auto;
	padding: 0;
}

.g-block .g-container {
    width: auto;
}

// Grid Row and Column Setup
.g-grid {
	@include display(flex);
	@include flex-flow(row wrap);
	list-style: none;
	margin: 0;
	padding: 0;
	text-rendering: optimizespeed;
	&.nowrap {
		@include flex-flow(row);
	}
}

.g-block {
	@include flex(1);
	min-width: 0;
	min-height: 0;
}

// Reordering
.first-block {
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
}

.last-block {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
}


 