#{$all-text-inputs} {
	@include transition(border-color);
	--margin: safevar($content-margin);
	padding: varc('padding',.5);
}

#{$all-text-inputs-focus} {
	outline: none;
}


fieldset {
	border: 0;
    padding: 0;
    margin: 0 0 var(--margin) 0;
}

label {
	margin-bottom: varc('margin',.5);
	abbr {
		display: none;
	}
}


textarea, select[multiple=multiple] {
	@include transition(border-color);
	padding: varc('padding',.5);
	
	font-family: consola,monospace;
	line-height: 1.2;

	&:focus {
		outline: none;
	}
}

textarea {
	resize: vertical;
	width: 100%;
}

input[type="checkbox"], input[type="radio"] {
	display: inline;
	margin-right: varc('margin',.5);
}

input[type="file"] {
	width: 100%;
}

select {
	max-width: 100%;
	margin-bottom: $content-margin;
}
