// Headings

body {
  font-family: sans-serif;
  line-height: $content-line-height;  
}

#{$all-heading} {
  margin-block-start: $content-margin; 
  margin-block-end: $content-margin;  
  text-rendering: optimizeLegibility;
}

th, td {
  padding: $content-padding 0;
}

// Paragraph

p {
  margin: $content-margin 0;
}

// Lists

ul, ol, dl {
  margin-top: $content-margin;
  margin-bottom: $content-margin;
  ul, ol, dl {
    margin-top: 0;
    margin-bottom: 0;
  }
}

ul {
  margin-left: $content-margin;
  padding: 0;
}

dl {
  padding: 0;
}

ol {
  padding-left: $content-margin;
}

// Blockquote

blockquote {
  margin: $content-margin 0;
  padding-left: $content-margin / 2;
  cite {
    display: block;
    &:before {
      content: "\2014 \0020";
    }
  }
}

// Inline and Code

pre {
  margin: $content-margin 0;
  padding: $content-padding;
}

hr {
  border-left: none;
  border-right: none;
  border-top: none;
  margin: $content-margin 0;
}

// first-child

.page-title,
:not(div):first-child { margin-top: 0 }
