.mt-1 { margin-top: var(--margin) }
.mt-2 { margin-top: calc(2 * var(--margin)) }
.mt-3 { margin-top: calc(3 * var(--margin)) }
.mt-4 { margin-top: calc(4 * var(--margin)) }
.mt-5 { margin-top: calc(5 * var(--margin)) }

.mb-1 { margin-bottom: var(--margin) }
.mb-2 { margin-bottom: calc(2 * var(--margin)) }
.mb-3 { margin-bottom: calc(3 * var(--margin)) }
.mb-4 { margin-bottom: calc(4 * var(--margin)) }
.mb-5 { margin-bottom: calc(5 * var(--margin)) }

.ph-1 { padding-top: var(--padding); padding-bottom: var(--padding) }
.ph-2 { padding-top: calc(2 * var(--padding)); padding-bottom: calc(2 * var(--padding)) }
.ph-3 { padding-top: calc(3 * var(--padding)); padding-bottom: calc(3 * var(--padding)) }
.ph-4 { padding-top: calc(4 * var(--padding)); padding-bottom: calc(4 * var(--padding)) }
.ph-5 { padding-top: calc(5 * var(--padding)); padding-bottom: calc(5 * var(--padding)) }

.pv-1 { padding-left: var(--padding); padding-right: var(--padding) }
.pv-2 { padding-left: calc(2 * var(--padding)); padding-right: calc(2 * var(--padding)) }
.pv-3 { padding-left: calc(3 * var(--padding)); padding-right: calc(3 * var(--padding)) }
.pv-4 { padding-left: calc(4 * var(--padding)); padding-right: calc(4 * var(--padding)) }
.pv-5 { padding-left: calc(5 * var(--padding)); padding-right: calc(5 * var(--padding)) }

.pa-1 { padding: var(--padding); padding: var(--padding) }
.pa-2 { padding: calc(2 * var(--padding)); padding: calc(2 * var(--padding)) }
.pa-3 { padding: calc(3 * var(--padding)); padding: calc(3 * var(--padding)) }
.pa-4 { padding: calc(4 * var(--padding)); padding: calc(4 * var(--padding)) }
.pa-5 { padding: calc(5 * var(--padding)); padding: calc(5 * var(--padding)) }

[data-height] .g-content { height: 100%; }
[data-toggle] { cursor: pointer }

.gn-col {

	div.shrink {flex: 0 1 25%;}

    display: flex;
    flex-flow: row;
	max-width:100%;
	&:after { content: " "; clear:both; }

	> div {
		flex: 1 1 50%;
		width: 50%;
		margin-right: 2rem; 
		&:last-child { margin-right: 0; }	
	}
}

.gn-col2 {

    display: flex;
    flex-flow: row;
	max-width:100%;
	
	&:after { content: " "; clear:both; }
	
	> div {
		flex: 1 1 50%;
		width: 50%;
		margin-right: .5rem; 
		padding-left: .5rem; 
		border-left: 1px solid #0003;		

		&:first-child { padding-left: 0; border-left: none }
		&:last-child { margin-right: 0; }

	}

	.list {
		word-spacing: 100vh;
		word-break: break-word;
		margin-bottom: 1rem;	
	}
}

.gn-table {
	display: flex;
    flex-wrap: wrap;
    flex-direction: row;
	
	>* {
		display: flex;
		align-self: center;
		flex: 1 1 20%;
		width: 20%;
		flex-flow:column;
		text-align: center;
		font-size: .9rem;
		margin-bottom: 1rem;
		i.fa { font-size: 3rem; margin: .5rem;}
	}
	
	@include breakpoint(large-mobile-range) {

		>* {
			flex: 1 1 33%;
			width: 33%;
			font-size: .8rem;
			i.fa { font-size: 2.5rem; margin: .5rem;}
		}
	
	}
	
}


.gn-flush {
	.g-block:first-child .g-content { margin-left: calc(-1 * var(--margin)); }
	.g-block:last-child .g-content { margin-right: calc(-1 * var(--margin)); }
}
	

.g-block .fixed {
    overflow: auto;
    position: fixed;
    width: inherit;
    height: 100vh;
}


