body.has-res {
    main {
        padding-top: var(--ctl-height); 
    }
}

@mixin responsive-transform {
    &.left { 
        transform: translateX(-100%); 
        border-right: 1px solid var(--border);
    }
    &.right { 
        transform: translateX(100%);
        border-left: 1px solid var(--border);
    }
    &.top { transform: translateX(-100vh);}
    &.bottom { transform: translateX(100vh); }
}

button.res-ctl {
    border: none;
    outline: none;
    position:absolute;
    cursor:pointer; 
    background: transparent;
    z-index: 102;
    height: var(--ctl-height);

    i { 
        font-size: calc(var(--ctl-height) / 2); 
    }

    &.text {
        i { font-size: calc(var(--ctl-height) / 3); }
   }

}



.responsive {

    transition: all .5s ease-in-out;

    &:not(.block-res) {

    	position:absolute;
    	width: 0;
    }

    .res-content {
        z-index: 101; 
        padding-top: var(--ctl-height);
        transition: opacity .15s linear,  transform .5s ease-in-out;
        opacity:0;
        @include responsive-transform;
    }

    &.show {
    	
    	position: initial;
    	width: auto;

    	.res-content {
    		opacity:1;
    		transform:translate(0) ;
    	}
    }

    @include breakpoint(mobile-only) {
    	flex-basis: 100% !important;
	    width: 100% !important;
    }


}
