.gn-search-wrapper {

	padding: var(--padding);
	height: 100%;
    @include flex-div(row,center,center);

    form { 
        @include flex-div(row,center,center);
    	height: 100%;
        margin: 0;
        width: auto;
    }
}