.module-grid {

    .g-content { 
      display: flex;
      flex-flow: row wrap; 
      margin:0; 
      padding: 0;
    }

    .moduletable { 

      .g-title { 
        font-size: .8rem;
        font-weight: 700;
        margin-bottom: var(--line-margin); 
        color: #666;
        padding-bottom: .5rem;
        border-bottom: 1px dotted #666
      }
      
      padding: var(--padding);
      width: 100%; 
    }

    &.half .moduletable { width: 50%; }
    &.third .moduletable { width: 33.3%; }
    &.quater .moduletable { width: 25%; }

}

body.modular main {
	padding: 0;
}

.modular-row {

    --background: var(--color);
    --text: var(--t);

    display: flex;
    flex-flow: column wrap;


    &.middle {
        justify-content: center; 
    }

    &.bottom { justify-content: flex-end; }
    &.top { justify-content: flex-start; }


    &.center { 
        align-items: center; 
    }

    &.left { 
        align-items: flex-start; 
        .page-content { text-align: left;}
        }
    &.right { 
        align-items: flex-end; 
        .page-content { text-align:right;}
        }

    background-repeat:no-repeat;

    transition: background 3s linear;
    animation-iteration-count: infinite;
    
    color: var(--text);

    min-height: 100vh;

	background-color: var(--background);
	color: var(--text);
	padding:  calc(4 * var(--padding)) calc(6 * var(--padding));

	a { 
	    color: var(--t) !important;
	    display:block;
	    opacity: .9;

	    &:hover { 
	        opacity: 1;
	        text-decoration: none !important; 
	        }
	}

    ul {
    	list-style-type: none;
    	padding: 0;
    	margin: 0;
    }
    
	.page-content {
	
	    margin:  calc(2 * var(--padding));
	    text-align: center;
	    font-size: calc(1.5 * var(--font-size));

	    ul { 
	        list-style-type: initial; 
	        text-align: left;
	        padding-left: 1.5rem;
	        margin-top: var(--line-margin);
	        }

	}
	    
    .features {

    	@include flex-div(row,center,center);
        width: 100%;
    	
    	li { 
    	    margin: var(--margin); 
    	    padding: var(--padding); 
    	    text-align: center;

        	i { 
        	    font-size: calc(3 * var(--font-size)); 
        	    margin-bottom: var(--margin); 
        	}

        	.item-title { font-size: calc(1.2 * var(--font-size)); }
    	}

    	&.horizontal {

            @include flex-div(column,center,center);

            li { width: 100%; }
            li, li a {
                @include flex-div(row,center,start);
                i { margin-bottom: 0; }

                .item-wrap { text-align: left; margin-left: 1rem; }
            }

    	}

    }

    .buttons {

    	.button { padding: 1rem 2rem; }
    	@include flex-div(row,start,center);
    	margin: calc(2 * var(--margin));

        li {
    	    min-height: 4rem;
    	    @include flex-div(column,center,start);
    	    .button { width: min-content; display:block; }
    	    .item-text { 
    	        margin-top: calc(var(--margin) / 2); 
    	        font-size: .9rem;
    	        text-align: center;
    	    }

        }

  	    li + li { margin-left: calc(2 * var(--margin)); }

  	    &.vertical {
            
            @include flex-div(column,center,center);
            
            li {
                @include flex-div(column,center,center);
                min-height: 0; 
                width: calc( min-content + 2rem );
                }

      	    li + li { margin-top: calc(2 * var(--margin)); margin-left: 0}
  	    }
    }

}