@mixin flex-div($direction: row, $align-item: center, $justify-content: flex-start, $wrap: wrap) {
	display: flex;
	flex-direction: $direction;
    align-items: $align-item;
    justify-content: $justify-content;
	flex-wrap: $wrap;	
}


@mixin flexa( $align-item: center, $justify-content: flex-start, $direction: false, $wrap: false) {
    align-items: $align-item;
    justify-content: $justify-content;
	@if $direction { flex-direction: $direction; }
	@if $wrap { flex-wrap: $wrap; }
}

@mixin border-radius($ratio:1) {
	border-radius: calc(#{$ratio} * var(--bradius));
}


