@function text-color($color,$white:95%,$black:5%) {
	@if lightness($color) > 50% {
		@return change-color($color, $lightness: $black)
	} @else {
		@return change-color($color, $lightness: $white)
	}
}

@mixin hsl-var($val) {
	--h: #{round(hue($val)/1deg)};
	--s: #{round(saturation($val))};
	--l: #{round(lightness($val))};
}

@mixin hsl-var-name($name) {
	--color: var(--#{$name});
	--h: var(--#{$name}_h);
	--s: var(--#{$name}_s);
	--l: var(--#{$name}_l);
	--t: var(--#{$name}_t);
}


@mixin palete-class($name,$var,$val,$ratio,$step,$h,$s,$l) {

	&.#{$name}, .#{$name} {
		$step: $ratio * $step;
		$color: hsl($h,$s,$l + $step);
		background: #{unquote('var(--#{$var}-#{$name})')};
		@if lightness($color) < 50% {
			color: #{unquote('var(--#{$var}-w)')};
		} @else {
			color: #{unquote('var(--#{$var}-b)')};
		}
	}
}

@function hsl-css-var($step) {

	@if ($step == 0) {

		@return unquote("hsl(var(--h), var(--s), var(--l))");

	} @else {
		$stepo: calc(var(--l) + (calc(var(--uf) * #{$step})));
		@if ($step < 0) {
			$stepo: calc(var(--l) + (calc(var(--df) * #{$step})));
		}
		@return unquote("hsl(var(--h), var(--s), #{$stepo})");
	}
}

@mixin palete-tonal($name,$var,$val,$ratio,$step,$h,$s,$l) {

		$step: $ratio * $step;
		$color: hsl($h,$s,$l + $step);
		background: #{unquote('var(--#{$var}-#{$name})')};
		@if lightness($color) < 50% {
			color: #{unquote('var(--#{$var}-w)')};
		} @else {
			color: #{unquote('var(--#{$var}-b)')};
		}

}


@mixin palete-tone($var,$val,$ratio,$step,$h,$s,$l) {

	$steps: $ratio * $step;
	$color: hsl($h,$s,$l + $steps);

	background-color: #{hsl-css-var($ratio)};
	@if lightness($color) < 50% {
		color: #{unquote('var(--#{$var}-w)')};
	} @else {
		color: #{unquote('var(--#{$var}-b)')};
	}
}
