@mixin scrollbars( $size:1rem, $foreground-color:#fffd, $background-color:#0006) {

	&::-webkit-scrollbar { width: $size;  height: $size; }
	&::-webkit-scrollbar-thumb {
		background: $foreground-color;
		border: 1px outset #0006;
		border-top: 1px outset #0003;
		border-left: 1px outset #0003;
		border-radius: .25rem;
	}

	&::-webkit-scrollbar-track {
		box-shadow: inset -1px 0 3px #0009;
		background: $background-color;
	}

	&::-webkit-scrollbar-thumb:hover {
		background: #fffd;
		box-shadow: 0 2px 6px #0005;
	}

	& {
		scrollbar-face-color: $foreground-color;
		scrollbar-track-color: $background-color;
	}
}
