<div flex>

<div class='color-chart'>
<div class='label'>accent</div>
	<div><div class='boxcolor ncc-accent bg-b' data-color='b'></div></div>
	<div><div class='boxcolor ncc-accent bg-d3' data-color='d3'></div></div>
	<div><div class='boxcolor ncc-accent bg-d2' data-color='d2'></div></div>
	<div><div class='boxcolor ncc-accent bg-d1' data-color='d1'></div></div>
	<div><div class='boxcolor ncc-accent bg-d' data-color='d'></div></div>
	<div><div class='boxcolor ncc-accent bg' data-color='n'></div></div>
	<div><div class='boxcolor ncc-accent bg-l' data-color='l'></div></div>
	<div><div class='boxcolor ncc-accent bg-l1' data-color='l3'></div></div>
	<div><div class='boxcolor ncc-accent bg-l2' data-color='l2'></div></div>
	<div><div class='boxcolor ncc-accent bg-l3' data-color='l1'></div></div>
	<div><div class='boxcolor ncc-accent bg-w' data-color='w'></div></div>
</div>

<div class='color-preview'>

<div class='section-title'>Combined</div>

<div class='ncc-accent'>
<div p-4 class='bg-d3' center>
<div class='h1 ncc-accent txt-w'>What About</div>
<p>A paragraph always starts on a new line, and is usually a block of text.</p>
<p><button pl-2 pr-2>Button</button></p>
</div>
</div>

<div class='section-title'>Markdown Flavored Element</div>

<h1 class='title'>Title</h1>	
<p>Lujem felis kodo netus elit magna fermentum orci thomas aliquam accio hub corona falo ango dom cafe araha hac rutrum sit loop commodo man odio placerat laoreet vestibulum leo labor elementum union pellentesque pharetra hyper gravida belian curabitur petite etiam vel.</p>

<blockquote>
The <strong>blockquote</strong> tag specifies a section that is quoted from another source.
</blockquote>

<h3 mt-2 class='sub-title'>Section-title</h3>

<p>The area of a <em>triangle</em> is: 1/2 x <var>b</var> x <var>h</var>, 
	where <b>bold</b> not <i>italic</i> <code>var(--x)</code>, <tt>teletype text</tt> while
	<abbr title="HyperText Markup Language">HTML</abbr> or <dfn title="HyperText Markup Language">HTML</dfn> is the standard markup language for creating web pages. 
	You can <kbd>ctrl-c</kbd> for someting.</p>
	
<p><button class="primary">Primary</button></P>


</div><!--eof preview -->

</div>