<div flex>

<div class='color-chart'>
<div class='label'>button</div>
	<div><div class='boxcolor ncc-button bg-b' data-color='b'></div></div>
	<div><div class='boxcolor ncc-button bg-d3' data-color='d3'></div></div>
	<div><div class='boxcolor ncc-button bg-d2' data-color='d2'></div></div>
	<div><div class='boxcolor ncc-button bg-d1' data-color='d1'></div></div>
	<div><div class='boxcolor ncc-button bg-d' data-color='d'></div></div>
	<div><div class='boxcolor ncc-button bg' data-color='n'></div></div>
	<div><div class='boxcolor ncc-button bg-l' data-color='l'></div></div>
	<div><div class='boxcolor ncc-button bg-l1' data-color='l3'></div></div>
	<div><div class='boxcolor ncc-button bg-l2' data-color='l2'></div></div>
	<div><div class='boxcolor ncc-button bg-l3' data-color='l1'></div></div>
	<div><div class='boxcolor ncc-button bg-w' data-color='w'></div></div>
</div>

<div class='color-preview'>

<div class='section-title'>Buttons</div>

<p>
<button>Default</button> 
<button class="naked">naked</button>
<button class="toggle">Toggle</button> 
<button class="xsmall">xsmall</button> 
<button class="small">small</button> 
<button class='inline'>inline</button>
<button class="large">large</button> 
<button class="xlarge">xlarge</button>
</p>

<div mt-2 class='section-title'>Theme Color</div>

<p mt-1>
<button>Default (Button)</button> 
<button class="primary">Primary (Accent)</button> 
<button class="secondary">Secondary (Surface)</button>
</P>

<div mt-2 class='section-title'>UI Color</div>

<p mt-1>
<button class="yellow">Yellow</button> 
<button class="red">Red</button> 
<button class="blue">Blue</button> 
<button class="green">Green</button> 
</p>

<div mt-2 class='section-title'>Color Classes</div>

<p mt-1>
<button class="ncc-button bg-l">.ncc-button bg-l</button> 
<button class="ncc-accent bg-l">.ncc-accent bg-l</button> 
<button class="ncc-surface bg-l">.ncc-surface bg-l</button>
<button class="ncc-button bg-b">.ncc-button bg-b</button>
</p>

<div mt-2 class='section-title'>Icons</div>

<p mt-1>
<button><i class='ncico-home'></i></button> 
<button class="secondary"><i class='ncico-globe'></i></button>
<button class="naked"><i class='ncico-sliders'></i></button>
<button class="toggle"><i class='ncico-search'></i></button> 
</p>

<div mt-4 class='section-title'>Forms</div>

<form class='inline-form' name="txt-form" action="/form" method="post">
<div class="form-field">
<div class="form-label"><label class="inline">Name <span class="required">*</span></label></div>
<div class="form-data" data-grav-field="text" data-grav-disabled="" data-grav-default="null">
<div class="form-input-wrapper"><input name="data[name]" value="" type="text" class="" placeholder="Enter your name" required="required"></div>
</div>
</div>
<div class="form-field">
<div class="form-label"><label class="inline"></label></div>
<div class="form-data" data-grav-field="checkbox" data-grav-disabled="" data-grav-default="true">
<div class="form-input-wrapper"><input name="data[var1]" value="1" type="checkbox" checked="checked" id="var1" class=""> <label style="display:inline;" class="inline" for="var1">I am checkbox</label></div>
</div>
</div>
<div class="form-field">
<div class="form-label"><label class="inline">Choice</label></div>
<div class="form-data" data-grav-field="radio" data-grav-disabled="" data-grav-default="&quot;markdown&quot;">
<div class="radio"><input type="radio" value="markdown" id="prefer-markdown" name="data[prefer]" class="" checked="checked"> <label style="display: inline" class="inline" for="prefer-markdown">Markdown</label></div>
<div class="radio"><input type="radio" value="twig" id="prefer-twig" name="data[prefer]" class=""> <label style="display: inline" class="inline" for="prefer-twig">Twig</label></div>
</div>
</div>
<div class="form-field">
<div class="form-label"><label class="inline">Device</label></div>
<div class="form-data" data-grav-selectize="[]" data-grav-field="select" data-grav-disabled="" data-grav-default="&quot;mobile&quot;">
<div class="form-select-wrapper"><select name="data[device]" class="">
<option selected="selected" value="mobile">Mobile</option>
<option value="tablet">Tablet</option>
<option value="desktop">Desktop</option>
<option value="large">Large Desktop</option>
</select></div>
</div>
</div>
<div class="form-field">
<div class="form-label"><label class="inline">Message <span class="required">*</span></label></div>
<div class="form-data" data-grav-field="textarea" data-grav-disabled="" data-grav-default="null">
<div class="form-textarea-wrapper">
<textarea name="data[message]" class="" placeholder="Enter your message" autofocus="autofocus" required="required"></textarea></div>
</div>
</div>
<input data-grav-field="hidden" data-grav-disabled="false" type="hidden" class="input" name="data[something]" value=""> <input type="hidden" name="__form-name__" value="txt-form"> <input type="hidden" name="__unique_form_id__" value="owlbhmuoeicys6ct9ypn"> <input type="hidden" name="form-nonce" value="be53f3d1f9c72dfe999925006db85279">
<div class="buttons"><button type="submit" class="button primary">Submit</button> <button type="reset" class="button">Reset</button></div>
</form>

</div><!--eof preview -->

</div>