<div class='section-title'>Inline</div>
<div class='inline-form'>
{% include '@particles/gn-dummy/sample.html' %}
</div>

<div class='section-title'>Default</div>
{% include '@particles/gn-dummy/sample.html' %}