<h1>Grid</h1>

<h3>Utility</h3>

<div class="g-grid mt-1 flex-debug">
<div class="g-block size-33-3 fit-block">
<div id="gn-dummy-6117-particle" class="g-content g-particle">sed neque sed tellus eget accumsan augue neque small neque vel (fit-block)</div>
</div>
<div class="g-block size-33-3">
<div id="gn-dummy-7770-particle" class="g-content g-particle">sed neque sed tellus eget accumsan augue neque small neque vel</div>
</div>
<div class="g-block size-33-3 no-g-content">
<div id="gn-dummy-4624-particle" class="g-content g-particle">sed neque sed tellus eget accumsan augue neque small neque vel (no-g-content)</div>
</div>
</div>

<h3>Grid Size</h3>

<div class="g-grid mt-1 flex-debug">
<div class="g-block size-100"><div class='g-content'>100 in 1 row</div></div>
</div>

<div class="g-grid mt-1 flex-debug">

<div class="g-block size-100"><div class='g-content'>100 in rows</div></div>
{% set cols=[90,10] %}
{% for i in cols %}
	<div class="g-block size-{{i}}"><div class='g-content'>{{i}}</div></div>
{% endfor %}
</div>


<div class="g-grid mt-1 flex-debug">

{% set cols=[25,75] %}
{% for i in cols %}
<div class="g-block size-{{i}}"><div class='g-content'>{{i}}</div></div>
{% endfor %}

{% set cols=[25,50,25] %}
{% for i in cols %}
<div class="g-block size-{{i}}"><div class='g-content'>{{i}}</div></div>
{% endfor %}

{% set cols=[25,25,25,25] %}
{% for i in cols %}
<div class="g-block size-{{i}}"><div class='g-content'>{{i}}</div></div>
{% endfor %}

{% set cols=[75,25] %}
{% for i in cols %}
<div class="g-block size-{{i}}"><div class='g-content'>{{i}}</div></div>
{% endfor %}

{% set cols=['33','34','33'] %}
{% for i in cols %}
<div class="g-block size-{{i}}"><div class='g-content'>{{i}}</div></div>
{% endfor %}
</div>

<div class="g-grid mt-1 flex-debug">
{% set cols=[50,30,20] %}
{% for i in cols %}
	<div class="g-block size-{{i}}"><div class='g-content'>{{i}}
	{% if i == 20 %} :last-child {% endif %}</div></div>
{% endfor %}
</div>

<div class="g-grid mt-1 flex-debug">

{% set cols=[10,20,30,40] %}
{% for i in cols %}
<div class="g-block size-{{i}}"><div class='g-content'>{{i}}</div></div>
{% endfor %}

{% set cols=[5,15,20,60] %}
{% for i in cols %}
	<div class="g-block size-{{i}}
	{% if i == 20 %} flex-grow {% endif %}
	"><div class='g-content'>{{i}}
	{% if i == 20 %} .flex-grow {% endif %}</div></div>
{% endfor %}

</div>

