<h2>Theme Dev<h2>

<p>This particle explore <code>gantry.config.get('styles')</code> and let you play with it.</p>

<h2>Workspace<h2>
<ol>
<li>Enable and use chrome-base Dev-tools.</li>
<li>Add theme/workspace to dev-tools sources.</li>
<li>Go to: scss/dummy.css, and do your experiment inside .theme-dummy

<pre>
// dont delete this:
@import "function.scss";
@import "themedev-function.scss";
// your sandbox:
.theme-dummy {


}/* end of wraper */
</pre></li>
<li>Use summaries items in <b>Preview</b> and make custome.</li>
<li>This theme-dev is loaded after your styles and script, and only active inside this particle.<br>
So, when your done, put it into your styles to made it persistent.</li>
</ol>


<p>Happy Theme-ing!</p>
