<div class='section-title'>Inline Element</div>

<table stripes>
<tr><td>abbr</td><td><abbr title='abbreviation'>abbr</abbr></td></td></tr>
<tr><td>b</td><td><b>b</b></td></td></tr>
<tr><td>bdo</td><td><bdo>bdo</bdo></td></td></tr>
<tr><td>big</td><td><big>big</big></td></td></tr>
<tr><td>button</td><td><button>button</button></td></td></tr>
<tr><td>cite</td><td><cite>cite</cite></td></td></tr>
<tr><td>code</td><td><code>code</code></td></td></tr>
<tr><td>dfn</td><td><dfn title='define'>dfn</dfn></td></td></tr>
<tr><td>em</td><td><em>em</em></td></td></tr>
<tr><td>i</td><td><i>i</i></td></td></tr>
<tr><td>kbd</td><td><kbd>kbd</kbd></td></td></tr>
<tr><td>output</td><td><output>output</output></td></td></tr>
<tr><td>q</td><td><q>quotes</q></td></td></tr>
<tr><td>samp</td><td><samp>samp</samp></td></td></tr>
<tr><td>small</td><td><small>small</small></td></td></tr>
<tr><td>strong</td><td><strong>strong</strong></td></td></tr>
<tr><td>sub</td><td><sub>sub</sub></td></td></tr>
<tr><td>sup</td><td><sup>sup</sup></td></td></tr>
<tr><td>tt</td><td><tt>tt</tt></td></td></tr>
<tr><td>var</td><td><var>vars</var></td></tr>
</table>


