<div class='section-title'>Icons</div>

<p>neoca use Feather</p>

<div flex-items>
<div class='nc-icon'><i class='ncico-menu'></i><input type='text' value='ncico-menu'><span>\21</span></div>
<div class='nc-icon'><i class='ncico-more-vertical'></i><input type='text' value='ncico-more-vertical'><span>\22</span></div>
<div class='nc-icon'><i class='ncico-more-horizontal'></i><input type='text' value='ncico-more-horizontal'><span>\23</span></div>
<div class='nc-icon'><i class='ncico-plus'></i><input type='text' value='ncico-plus'><span>\24</span></div>
<div class='nc-icon'><i class='ncico-minus'></i><input type='text' value='ncico-minus'><span>\25</span></div>
<div class='nc-icon'><i class='ncico-x'></i><input type='text' value='ncico-x'><span>\26</span></div>
<div class='nc-icon'><i class='ncico-check'></i><input type='text' value='ncico-check'><span>\27</span></div>
<div class='nc-icon'><i class='ncico-arrow-up'></i><input type='text' value='ncico-arrow-up'><span>\28</span></div>
<div class='nc-icon'><i class='ncico-arrow-right'></i><input type='text' value='ncico-arrow-right'><span>\29</span></div>
<div class='nc-icon'><i class='ncico-arrow-down'></i><input type='text' value='ncico-arrow-down'><span>\2a</span></div>
<div class='nc-icon'><i class='ncico-arrow-left'></i><input type='text' value='ncico-arrow-left'><span>\2b</span></div>
<div class='nc-icon'><i class='ncico-chevron-up'></i><input type='text' value='ncico-chevron-up'><span>\2c</span></div>
<div class='nc-icon'><i class='ncico-chevron-right'></i><input type='text' value='ncico-chevron-right'><span>\2d</span></div>
<div class='nc-icon'><i class='ncico-chevron-down'></i><input type='text' value='ncico-chevron-down'><span>\2e</span></div>
<div class='nc-icon'><i class='ncico-chevron-left'></i><input type='text' value='ncico-chevron-left'><span>\2f</span></div>
<div class='nc-icon'><i class='ncico-chevrons-up'></i><input type='text' value='ncico-chevrons-up'><span>\30</span></div>
<div class='nc-icon'><i class='ncico-chevrons-right'></i><input type='text' value='ncico-chevrons-right'><span>\31</span></div>
<div class='nc-icon'><i class='ncico-chevrons-down'></i><input type='text' value='ncico-chevrons-down'><span>\32</span></div>
<div class='nc-icon'><i class='ncico-chevrons-left'></i><input type='text' value='ncico-chevrons-left'><span>\33</span></div>
<div class='nc-icon'><i class='ncico-toggle-right'></i><input type='text' value='ncico-toggle-right'><span>\34</span></div>
<div class='nc-icon'><i class='ncico-toggle-left'></i><input type='text' value='ncico-toggle-left'><span>\35</span></div>
<div class='nc-icon'><i class='ncico-code'></i><input type='text' value='ncico-code'><span>\36</span></div>
<div class='nc-icon'><i class='ncico-download'></i><input type='text' value='ncico-download'><span>\37</span></div>
<div class='nc-icon'><i class='ncico-upload'></i><input type='text' value='ncico-upload'><span>\38</span></div>
<div class='nc-icon'><i class='ncico-thumbs-up'></i><input type='text' value='ncico-thumbs-up'><span>\39</span></div>
<div class='nc-icon'><i class='ncico-thumbs-down'></i><input type='text' value='ncico-thumbs-down'><span>\3a</span></div>
<div class='nc-icon'><i class='ncico-tool'></i><input type='text' value='ncico-tool'><span>\3b</span></div>
<div class='nc-icon'><i class='ncico-sliders'></i><input type='text' value='ncico-sliders'><span>\3c</span></div>
<div class='nc-icon'><i class='ncico-settings'></i><input type='text' value='ncico-settings'><span>\3d</span></div>
<div class='nc-icon'><i class='ncico-search'></i><input type='text' value='ncico-search'><span>\3e</span></div>
<div class='nc-icon'><i class='ncico-eye'></i><input type='text' value='ncico-eye'><span>\3f</span></div>
<div class='nc-icon'><i class='ncico-eye-off'></i><input type='text' value='ncico-eye-off'><span>\40</span></div>
<div class='nc-icon'><i class='ncico-square'></i><input type='text' value='ncico-square'><span>\41</span></div>
<div class='nc-icon'><i class='ncico-square-x'></i><input type='text' value='ncico-square-x'><span>\42</span></div>
<div class='nc-icon'><i class='ncico-square-plus'></i><input type='text' value='ncico-square-plus'><span>\43</span></div>
<div class='nc-icon'><i class='ncico-square-minus'></i><input type='text' value='ncico-square-minus'><span>\44</span></div>
<div class='nc-icon'><i class='ncico-square-edit'></i><input type='text' value='ncico-square-edit'><span>\45</span></div>
<div class='nc-icon'><i class='ncico-square-check'></i><input type='text' value='ncico-square-check'><span>\46</span></div>
<div class='nc-icon'><i class='ncico-circle'></i><input type='text' value='ncico-circle'><span>\47</span></div>
<div class='nc-icon'><i class='ncico-circle-check'></i><input type='text' value='ncico-circle-check'><span>\48</span></div>
<div class='nc-icon'><i class='ncico-slash'></i><input type='text' value='ncico-slash'><span>\49</span></div>
<div class='nc-icon'><i class='ncico-help-circle'></i><input type='text' value='ncico-help-circle'><span>\4a</span></div>
<div class='nc-icon'><i class='ncico-alert-circle'></i><input type='text' value='ncico-alert-circle'><span>\4b</span></div>
<div class='nc-icon'><i class='ncico-home'></i><input type='text' value='ncico-home'><span>\4c</span></div>
<div class='nc-icon'><i class='ncico-globe'></i><input type='text' value='ncico-globe'><span>\4d</span></div>
<div class='nc-icon'><i class='ncico-tv'></i><input type='text' value='ncico-tv'><span>\4e</span></div>
<div class='nc-icon'><i class='ncico-bp-monitor'></i><input type='text' value='ncico-bp-monitor'><span>\4f</span></div>
<div class='nc-icon'><i class='ncico-computer'></i><input type='text' value='ncico-computer'><span>\50</span></div>
<div class='nc-icon'><i class='ncico-laptop'></i><input type='text' value='ncico-laptop'><span>\50</span></div>
<div class='nc-icon'><i class='ncico-bp-tablet'></i><input type='text' value='ncico-bp-tablet'><span>\51</span></div>
<div class='nc-icon'><i class='ncico-bp-smartphone'></i><input type='text' value='ncico-bp-smartphone'><span>\52</span></div>
<div class='nc-icon'><i class='ncico-spinner'></i><input type='text' value='ncico-spinner'><span>\53</span></div>
<div class='nc-icon'><i class='ncico-loading'></i><input type='text' value='ncico-loading'><span>\53</span></div>
<div class='nc-icon'><i class='ncico-busy'></i><input type='text' value='ncico-busy'><span>\53</span></div>
<div class='nc-icon'><i class='ncico-wheel'></i><input type='text' value='ncico-wheel'><span>\53</span></div>
<div class='nc-icon'><i class='ncico-layout-c'></i><input type='text' value='ncico-layout-c'><span>\54</span></div>
<div class='nc-icon'><i class='ncico-layout-f'></i><input type='text' value='ncico-layout-f'><span>\55</span></div>
<div class='nc-icon'><i class='ncico-layout-h'></i><input type='text' value='ncico-layout-h'><span>\56</span></div>
<div class='nc-icon'><i class='ncico-layout-s'></i><input type='text' value='ncico-layout-s'><span>\57</span></div>
<div class='nc-icon'><i class='ncico-layout-v'></i><input type='text' value='ncico-layout-v'><span>\58</span></div>
<div class='nc-icon'><i class='ncico-github'></i><input type='text' value='ncico-github'><span>\59</span></div>
<div class='nc-icon'><i class='ncico-html'></i><input type='text' value='ncico-html'><span>\5a</span></div>
<div class='nc-icon'><i class='ncico-css'></i><input type='text' value='ncico-css'><span>\5b</span></div>
<div class='nc-icon'><i class='ncico-grav'></i><input type='text' value='ncico-grav'><span>\5c</span></div>
<div class='nc-icon'><i class='ncico-list'></i><input type='text' value='ncico-list'><span>\5d</span></div>
<div class='nc-icon'><i class='ncico-paperclip'></i><input type='text' value='ncico-paperclip'><span>\5e</span></div>
<div class='nc-icon'><i class='ncico-save'></i><input type='text' value='ncico-save'><span>\5f</span></div>
<div class='nc-icon'><i class='ncico-loader'></i><input type='text' value='ncico-loader'><span>\60</span></div>
</div>