<div class='section-title'>Notices</div>
<div mh-1>
	<div class="notices">Notices: Adipiscing falo faucibus finibus git senectus lobortis curabitur iaculis thomas ola-ola fames vivamus proin purus lacinia mi velit nullam james augue egestas elementum mandom enim bull dom felis ut non habitasse lux ligula loop ipsum donec quisque metus white dapibus ornare.</div>
	<div class="notices yellow">Notice Yellow</div>
	<div class="notices red">Notices Red</div>
	<div class="notices blue">Notices Blue.</div>
	<div class="notices green">Notices Green</div>
</div>
<div class='section-title'>Alert</div>
<div mh-1>
	<div class="alert">Alert:
		and a longer messages to see if this element/component goes in multi line.Bibendum euismod urna random in acrandom dom thum bonaqua hamburger rutrum two egestas blandit seven pulvinar poom luctus assio brother jump vel juka adipiscing elementum araha.</div>
	<div class="alert alert-warning">Warning!</div>
	<div class="alert alert-error">Error Alert!</div>
	<div class="alert alert-info">Information Alert!</div>
	<div class="alert alert-success">Success Alert!</div>
</div>