<div flex>

<div class='color-chart'>
<div class='label'>surface</div>
	<div><div class='boxcolor ncc-surface bg-b' data-color='b'></div></div>
	<div><div class='boxcolor ncc-surface bg-d3' data-color='d3'></div></div>
	<div><div class='boxcolor ncc-surface bg-d2' data-color='d2'></div></div>
	<div><div class='boxcolor ncc-surface bg-d1' data-color='d1'></div></div>
	<div><div class='boxcolor ncc-surface bg-d' data-color='d'></div></div>
	<div><div class='boxcolor ncc-surface bg' data-color='n'></div></div>
	<div><div class='boxcolor ncc-surface bg-l' data-color='l'></div></div>
	<div><div class='boxcolor ncc-surface bg-l1' data-color='l3'></div></div>
	<div><div class='boxcolor ncc-surface bg-l2' data-color='l2'></div></div>
	<div><div class='boxcolor ncc-surface bg-l3' data-color='l1'></div></div>
	<div><div class='boxcolor ncc-surface bg-w' data-color='w'></div></div>
</div>

<div class='color-preview'>

<p><b>Surface Colors</b> ensure accessible text, and distinguish UI elements and surfaces from one another.</p>

<div class='section-title'>Markdown Flavored Element</div>

<pre>&lt;?php
   $string = str_replace("world","Neoca","Hello world!"); 
   echo $string;
?></pre>

<table mt-2 stripes>
		<thead>
			<tr>
				<th>Float</th>
				<th>Words</th>
				<th>Percentage</th>
			</tr>
		</thead>
		<tbody>
			<tr>
			<td>1.0</td>
				<td>Full</td>
				<td>100%</td>
			</tr>
			<tr>
				<td>0.9</td>
				<td>Near Full</td>
				<td>90%</td>
			</tr>
			<tr>
				<td>0.5</td>
				<td>Half</td>
				<td>50%</td>
			</tr>
		</tbody>
	</table>

<div class='section-title'>Inline Elements</div>

<p>Inline HTML element like <code>var(--x)</code>, and  <kbd>kbd</kbd> use surface colors.</p>

<p><button class="secondary">Button Secondary</button></P>
	
<div class='section-title'>Combined</div>

<div flex>

<div third>
<div class='ncc-surface bg-d3'>
<div p-3 center>
<p><i style='font-size: 5rem;' class='ncico-css'></i></p>
<p>A paragraph is a block of text.</p>
</div>
</div>
</div>

<div third pr-1 pl-1>
<div border class='ncc-surface bg-w'>
<div class='bg-d2'><i m-1 class='ncico-menu'></i></div>
<div p-1>
<h4>What About</h4>
<p>A paragraph always starts on a new line, and is usually a block of text.</p>
<p><button class='ncc-button bg'>Button</button></p>
</div>
</div>
</div>

<div third>
<div class='ncc-surface bg-l2'>
<div pt-4 pr-1 pl-1 pb-2>
<h1 class='ncc-accent color-d2'>Accented</h4>
<p>A paragraph always starts on a new line, and is usually a block of text.</p>
</div>
<div class='bg-d3' center><i m-1 class='ncico-more-horizontal'></i></div>
</div>
</div>

</div>

</div><!--eof preview -->

</div>