<div class='section-title'>flex</div>

<div class='nc-outline xample'>
<div flex>
<div p-1 full>full</div>
<div p-1 half>half</div>
<div p-1 quater>quater</div>
<div p-1 quater>quater</div>
<div p-1 third>third</div>
<div p-1 third>third</div>
<div p-1 third>third</div>
<div p-1 third>third</div>
<div p-1 third grow>grow</div>
<div p-1 quater>quater</div>
<div p-1 shrink>shrink</div>
<div p-1 shrink>shrink</div>
<div p-1 quater>quater</div>
<div p-1 shrink>shrink</div>
<div p-1 shrink>shrink</div>
<div p-1 grow>grow</div>
</div>
</div>

<div class='section-title'>block</div>

<div class='nc-outline xample'>
<div block>
<div p-1 full>full</div>
<div p-1 half>half</div>
<div p-1 quater>quater</div>
<div p-1 quater>quater</div>
<div p-1 third>third</div>
<div p-1 third>third</div>
<div p-1 third>third</div>
</div>
</div>

<div class='section-title'>margin/padding</div>

<div class='nc-outline xample'>

<div flex-items>
<div shrink m-1 p-1>item</div>
<div shrink m-1 p-2>item</div>
<div shrink m-1 p-3>item</div>
<div shrink m-1 p-4>item</div>
<div shrink m-1 p-5>item</div>
<div shrink m-1 p-6>item</div>
<div shrink p-1 m-1>item</div>
<div shrink p-1 m-2>item</div>
<div shrink p-1 m-3>item</div>
<div shrink p-1 m-4>item</div>
<div shrink p-1 m-5>item</div>
<div shrink p-1 m-6>item</div>
</div>

</div>
