<div id='ncc-chart'>

<div flex class='column'>

<div mb-2 class='section-title'>Overview</div>

<div flex class='row'>

<div class='color-chart'>
<div class='label'>surface</div>
<div><div class='boxcolor ncc-surface bg-b' data-color='b'></div></div>
<div><div class='boxcolor ncc-surface bg-d3' data-color='d3'></div></div>
<div><div class='boxcolor ncc-surface bg-d2' data-color='d2'></div></div>
<div><div class='boxcolor ncc-surface bg-d1' data-color='d1'></div></div>
<div><div class='boxcolor ncc-surface bg-d' data-color='d'></div></div>
<div><div class='boxcolor ncc-surface bg' data-color='n'></div></div>
<div><div class='boxcolor ncc-surface bg-l' data-color='l'></div></div>
<div><div class='boxcolor ncc-surface bg-l1' data-color='l1'></div></div>
<div><div class='boxcolor ncc-surface bg-l2' data-color='l2'></div></div>
<div><div class='boxcolor ncc-surface bg-l3' data-color='l3'></div></div>
<div><div class='boxcolor ncc-surface bg-w' data-color='w'></div></div>
<div><div class='boxcolor ncc-surface co' data-color='co'></div></div>
</div>


<div class='color-chart'>
<div class='label'>accent</div>
<div><div class='boxcolor ncc-accent bg-b' data-color='b'></div></div>
<div><div class='boxcolor ncc-accent bg-d3' data-color='d3'></div></div>
<div><div class='boxcolor ncc-accent bg-d2' data-color='d2'></div></div>
<div><div class='boxcolor ncc-accent bg-d1' data-color='d1'></div></div>
<div><div class='boxcolor ncc-accent bg-d' data-color='d'></div></div>
<div><div class='boxcolor ncc-accent bg' data-color='n'></div></div>
<div><div class='boxcolor ncc-accent bg-l' data-color='l'></div></div>
<div><div class='boxcolor ncc-accent bg-l1' data-color='l1'></div></div>
<div><div class='boxcolor ncc-accent bg-l2' data-color='l2'></div></div>
<div><div class='boxcolor ncc-accent bg-l3' data-color='l3'></div></div>
<div><div class='boxcolor ncc-accent bg-w' data-color='w'></div></div>
<div><div class='boxcolor ncc-accent co' data-color='co'></div></div>

</div>


<div class='color-chart'>
<div class='label'>button</div>
<div><div class='boxcolor ncc-button bg-b' data-color='b'></div></div>
<div><div class='boxcolor ncc-button bg-d3' data-color='d3'></div></div>
<div><div class='boxcolor ncc-button bg-d2' data-color='d2'></div></div>
<div><div class='boxcolor ncc-button bg-d1' data-color='d1'></div></div>
<div><div class='boxcolor ncc-button bg-d' data-color='d'></div></div>
<div><div class='boxcolor ncc-button bg' data-color='n'></div></div>
<div><div class='boxcolor ncc-button bg-l' data-color='l'></div></div>
<div><div class='boxcolor ncc-button bg-l1' data-color='l1'></div></div>
<div><div class='boxcolor ncc-button bg-l2' data-color='l2'></div></div>
<div><div class='boxcolor ncc-button bg-l3' data-color='l3'></div></div>
<div><div class='boxcolor ncc-button bg-w' data-color='w'></div></div>
<div><div class='boxcolor ncc-button co' data-color='co'></div></div>

</div>

<div class='sep'></div>

<div class='color-chart'>
<div class='label'>warning</div>
<div><div class='boxcolor ncc-warning bg-b' data-color='b'></div></div>
<div><div class='boxcolor ncc-warning bg-d3' data-color='d3'></div></div>
<div><div class='boxcolor ncc-warning bg-d2' data-color='d2'></div></div>
<div><div class='boxcolor ncc-warning bg-d1' data-color='d1'></div></div>
<div><div class='boxcolor ncc-warning bg-d' data-color='d'></div></div>
<div><div class='boxcolor ncc-warning bg' data-color='n'></div></div>
<div><div class='boxcolor ncc-warning bg-l' data-color='l'></div></div>
<div><div class='boxcolor ncc-warning bg-l1' data-color='l1'></div></div>
<div><div class='boxcolor ncc-warning bg-l2' data-color='l2'></div></div>
<div><div class='boxcolor ncc-warning bg-l3' data-color='l3'></div></div>
<div><div class='boxcolor ncc-warning bg-w' data-color='w'></div></div>
<div><div class='boxcolor ncc-warning co' data-color='co'></div></div>
</div>


<div class='color-chart'>
<div class='label'>error</div>
<div><div class='boxcolor ncc-error bg-b' data-color='b'></div></div>
<div><div class='boxcolor ncc-error bg-d3' data-color='d3'></div></div>
<div><div class='boxcolor ncc-error bg-d2' data-color='d2'></div></div>
<div><div class='boxcolor ncc-error bg-d1' data-color='d1'></div></div>
<div><div class='boxcolor ncc-error bg-d' data-color='d'></div></div>
<div><div class='boxcolor ncc-error bg' data-color='n'></div></div>
<div><div class='boxcolor ncc-error bg-l' data-color='l'></div></div>
<div><div class='boxcolor ncc-error bg-l1' data-color='l1'></div></div>
<div><div class='boxcolor ncc-error bg-l2' data-color='l2'></div></div>
<div><div class='boxcolor ncc-error bg-l3' data-color='l3'></div></div>
<div><div class='boxcolor ncc-error bg-w' data-color='w'></div></div>
<div><div class='boxcolor ncc-error co' data-color='co'></div></div>
</div>


<div class='color-chart'>
<div class='label'>info</div>
<div><div class='boxcolor ncc-info bg-b' data-color='b'></div></div>
<div><div class='boxcolor ncc-info bg-d3' data-color='d3'></div></div>
<div><div class='boxcolor ncc-info bg-d2' data-color='d2'></div></div>
<div><div class='boxcolor ncc-info bg-d1' data-color='d1'></div></div>
<div><div class='boxcolor ncc-info bg-d' data-color='d'></div></div>
<div><div class='boxcolor ncc-info bg' data-color='n'></div></div>
<div><div class='boxcolor ncc-info bg-l' data-color='l'></div></div>
<div><div class='boxcolor ncc-info bg-l1' data-color='l1'></div></div>
<div><div class='boxcolor ncc-info bg-l2' data-color='l2'></div></div>
<div><div class='boxcolor ncc-info bg-l3' data-color='l3'></div></div>
<div><div class='boxcolor ncc-info bg-w' data-color='w'></div></div>
<div><div class='boxcolor ncc-info co' data-color='co'></div></div>
</div>


<div class='color-chart'>
<div class='label'>success</div>
<div><div class='boxcolor ncc-success bg-b' data-color='b'></div></div>
<div><div class='boxcolor ncc-success bg-d3' data-color='d3'></div></div>
<div><div class='boxcolor ncc-success bg-d2' data-color='d2'></div></div>
<div><div class='boxcolor ncc-success bg-d1' data-color='d1'></div></div>
<div><div class='boxcolor ncc-success bg-d' data-color='d'></div></div>
<div><div class='boxcolor ncc-success bg' data-color='n'></div></div>
<div><div class='boxcolor ncc-success bg-l' data-color='l'></div></div>
<div><div class='boxcolor ncc-success bg-l1' data-color='l1'></div></div>
<div><div class='boxcolor ncc-success bg-l2' data-color='l2'></div></div>
<div><div class='boxcolor ncc-success bg-l3' data-color='l3'></div></div>
<div><div class='boxcolor ncc-success bg-w' data-color='w'></div></div>
<div><div class='boxcolor ncc-success co' data-color='co'></div></div>
</div>

</div>


</div>

</div>