<div class="toggle">  
  <input type="checkbox" checked value="selected" id="toggle-5" class="toggle-input">
  <label for="toggle-5" class="toggle-label">Colours</label> 
  <div role="toggle" class="toggle-content center">
  
    <h4>Palletes</h4>

<table class='pallete'>

<thead>
<tr>
	<th>Name</th>
	<th colspan=5 class='align-left'>Darken</th>
	<th>Main</th>
	<th colspan=5 class='align-right'>Lighten</th>
	<th>Complement</th>
	<th colspan=2>Analogus</th>
	<th colspan=2>Triadic</th>
	<th colspan=2>Contrast Ratio</th>
</tr>
</thead>

<tr class='bg-color-accent-1'>
	<td class='txt-accent-1'>accent-1</td>
	<td class='bgcolor-b0'>b0</td>
	<td class='bgcolor-b1'>b1</td>
	<td class='bgcolor-d3'>d3</td>
	<td class='bgcolor-d2'>d2</td>
	<td class='bgcolor-d1'>d1</td>
	<td class='bgcolor-bg'>bg</td>
	<td class='bgcolor-l1'>l1</td>
	<td class='bgcolor-l2'>l2</td>
	<td class='bgcolor-l3'>l3</td>
	<td class='bgcolor-w1'>w1</td>
	<td class='bgcolor-w0'>w0</td>
	<td class='bgcolor-co'>co</td>
	<td class='bgcolor-a1'>a1</td>
	<td class='bgcolor-a2'>a2</td>
	<td class='bgcolor-t1'>t1</td>
	<td class='bgcolor-t2'>t2</td>
	<td class='bgcolor-dc'>dc</td>
	<td class='bgcolor-lc'>lc</td>
</tr>
<tr class='bg-color-accent-2'>
	<td class='txt-accent-2'>accent-2</td>
	<td class='bgcolor-b0'>b0</td>
	<td class='bgcolor-b1'>b1</td>
	<td class='bgcolor-d3'>d3</td>
	<td class='bgcolor-d2'>d2</td>
	<td class='bgcolor-d1'>d1</td>
	<td class='bgcolor-bg'>bg</td>
	<td class='bgcolor-l1'>l1</td>
	<td class='bgcolor-l2'>l2</td>
	<td class='bgcolor-l3'>l3</td>
	<td class='bgcolor-w1'>w1</td>
	<td class='bgcolor-w0'>w0</td>
	<td class='bgcolor-co'>co</td>
	<td class='bgcolor-a1'>a1</td>
	<td class='bgcolor-a2'>a2</td>
	<td class='bgcolor-t1'>t1</td>
	<td class='bgcolor-t2'>t2</td>
	<td class='bgcolor-dc'>dc</td>
	<td class='bgcolor-lc'>lc</td>
</tr>
<tr class='bg-color-accent-3'>
	<td class='txt-accent-3'>accent-3</td>
	<td class='bgcolor-b0'>b0</td>
	<td class='bgcolor-b1'>b1</td>
	<td class='bgcolor-d3'>d3</td>
	<td class='bgcolor-d2'>d2</td>
	<td class='bgcolor-d1'>d1</td>
	<td class='bgcolor-bg'>bg</td>
	<td class='bgcolor-l1'>l1</td>
	<td class='bgcolor-l2'>l2</td>
	<td class='bgcolor-l3'>l3</td>
	<td class='bgcolor-w1'>w1</td>
	<td class='bgcolor-w0'>w0</td>
	<td class='bgcolor-co'>co</td>
	<td class='bgcolor-a1'>a1</td>
	<td class='bgcolor-a2'>a2</td>
	<td class='bgcolor-t1'>t1</td>
	<td class='bgcolor-t2'>t2</td>
	<td class='bgcolor-dc'>dc</td>
	<td class='bgcolor-lc'>lc</td>
</tr>
<tr class='bg-color-accent-4'>
	<td class='txt-accent-4'>accent-4</td>
	<td class='bgcolor-b0'>b0</td>
	<td class='bgcolor-b1'>b1</td>
	<td class='bgcolor-d3'>d3</td>
	<td class='bgcolor-d2'>d2</td>
	<td class='bgcolor-d1'>d1</td>
	<td class='bgcolor-bg'>bg</td>
	<td class='bgcolor-l1'>l1</td>
	<td class='bgcolor-l2'>l2</td>
	<td class='bgcolor-l3'>l3</td>
	<td class='bgcolor-w1'>w1</td>
	<td class='bgcolor-w0'>w0</td>
	<td class='bgcolor-co'>co</td>
	<td class='bgcolor-a1'>a1</td>
	<td class='bgcolor-a2'>a2</td>
	<td class='bgcolor-t1'>t1</td>
	<td class='bgcolor-t2'>t2</td>
	<td class='bgcolor-dc'>dc</td>
	<td class='bgcolor-lc'>lc</td>
</tr>
<tr class='bgcolor-neu'>
	<td class='txt-w'>neutral</td>
	<td colspan=2 class='bgcolor-neu-b'>b</td>
	<td class='bgcolor-neu-d1'>d1</td>
	<td colspan=2 class='bgcolor-neu-d'>d</td>
	<td class='bgcolor-neu'>neu</td>
	<td colspan=2 class='bgcolor-neu-l'>l</td>
	<td class='bgcolor-neu-l'>l2</td>
	<td colspan=2 class='bgcolor-neu-w'>w</td>
	<td class='bgcolor-neu fit'><div class='bg-spot'>+spot</div></td>
	<td colspan=2 class='bgcolor-neu fit'><div class='bg-shade'>+shade</div></td>
	<td colspan=2 class='bgcolor-neu fit'><div class='bg-tint'>+tint</div></td>
	<td class='bgcolor-neu-d'>d</td>
	<td class='bgcolor-neu-l'>l</td>
</tr>
<tr class='bg-color-yellow'>
	<td class='txt-yellow'>Yellow</td>
	<td class='bgcolor-b0'>b0</td>
	<td class='bgcolor-b1'>b1</td>
	<td class='bgcolor-d3'>d3</td>
	<td class='bgcolor-d2'>d2</td>
	<td class='bgcolor-d1'>d1</td>
	<td class='bgcolor-bg'>bg</td>
	<td class='bgcolor-l1'>l1</td>
	<td class='bgcolor-l2'>l2</td>
	<td class='bgcolor-l3'>l3</td>
	<td class='bgcolor-w1'>w1</td>
	<td class='bgcolor-w0'>w0</td>
	<td class='bgcolor-co'>co</td>
	<td class='bgcolor-a1'>a1</td>
	<td class='bgcolor-a2'>a2</td>
	<td class='bgcolor-t1'>t1</td>
	<td class='bgcolor-t2'>t2</td>
	<td class='bgcolor-dc'>dc</td>
	<td class='bgcolor-lc'>lc</td>
</tr>
<tr class='bg-color-red'>
	<td class='txt-red'>Red</td>
	<td class='bgcolor-b0'>b0</td>
	<td class='bgcolor-b1'>b1</td>
	<td class='bgcolor-d3'>d3</td>
	<td class='bgcolor-d2'>d2</td>
	<td class='bgcolor-d1'>d1</td>
	<td class='bgcolor-bg'>bg</td>
	<td class='bgcolor-l1'>l1</td>
	<td class='bgcolor-l2'>l2</td>
	<td class='bgcolor-l3'>l3</td>
	<td class='bgcolor-w1'>w1</td>
	<td class='bgcolor-w0'>w0</td>
	<td class='bgcolor-co'>co</td>
	<td class='bgcolor-a1'>a1</td>
	<td class='bgcolor-a2'>a2</td>
	<td class='bgcolor-t1'>t1</td>
	<td class='bgcolor-t2'>t2</td>
	<td class='bgcolor-dc'>dc</td>
	<td class='bgcolor-lc'>lc</td>
</tr>
<tr class='bg-color-blue'>
	<td class='txt-blue'>Blue</td>
	<td class='bgcolor-b0'>b0</td>
	<td class='bgcolor-b1'>b1</td>
	<td class='bgcolor-d3'>d3</td>
	<td class='bgcolor-d2'>d2</td>
	<td class='bgcolor-d1'>d1</td>
	<td class='bgcolor-bg'>bg</td>
	<td class='bgcolor-l1'>l1</td>
	<td class='bgcolor-l2'>l2</td>
	<td class='bgcolor-l3'>l3</td>
	<td class='bgcolor-w1'>w1</td>
	<td class='bgcolor-w0'>w0</td>
	<td class='bgcolor-co'>co</td>
	<td class='bgcolor-a1'>a1</td>
	<td class='bgcolor-a2'>a2</td>
	<td class='bgcolor-t1'>t1</td>
	<td class='bgcolor-t2'>t2</td>
	<td class='bgcolor-dc'>dc</td>
	<td class='bgcolor-lc'>lc</td>
</tr>
<tr class='bg-color-green'>
	<td class='txt-green'>Green</td>
	<td class='bgcolor-b0'>b0</td>
	<td class='bgcolor-b1'>b1</td>
	<td class='bgcolor-d3'>d3</td>
	<td class='bgcolor-d2'>d2</td>
	<td class='bgcolor-d1'>d1</td>
	<td class='bgcolor-bg'>bg</td>
	<td class='bgcolor-l1'>l1</td>
	<td class='bgcolor-l2'>l2</td>
	<td class='bgcolor-l3'>l3</td>
	<td class='bgcolor-w1'>w1</td>
	<td class='bgcolor-w0'>w0</td>
	<td class='bgcolor-co'>co</td>
	<td class='bgcolor-a1'>a1</td>
	<td class='bgcolor-a2'>a2</td>
	<td class='bgcolor-t1'>t1</td>
	<td class='bgcolor-t2'>t2</td>
	<td class='bgcolor-dc'>dc</td>
	<td class='bgcolor-lc'>lc</td>
</tr>

</table>



</div>

<div class="toggle">  
  <input type="checkbox" value="selected" id="toggle-3" class="toggle-input">
  <label for="toggle-3" class="toggle-label">Button</label> 
  <div role="toggle" class="toggle-content">

	<div class='g-grid gn-flush'>
	
		<div class='g-block size-60'><div class='g-content'>
			<p>
			<button>Button</button>
			<button class='toggle'>Toggle</button>
			<button class='yellow'>Yellow</button>
			<button class='red'>Red</button>
			<button class='blue'>Blue</button>
			<button class='green'>Green</button>
			<button class='naked'>naked</button>
			</p>

			<p>
			<button class='xsmall'>xsmall</button>
			<button class='small'>small</button>
			<button>Default</button>
			<button class='large'>large</button>
			<button class='xlarge'>xlarge</button>
			</p>

			<p>
			<button class='primary'>Primary</button>
			<button class='secondary'>Secondary</button>
			</p>
			
		</div></div>
		
		<div class='g-block size-40'><div class='g-content'>

			<p>Inlining <button>Button</button> inside parapgraph.</p>
	
		</div></div>
	
	</div>

</div>
</div>

<div class="toggle">  
  <input type="checkbox" value="selected" id="toggle-4" class="toggle-input">
  <label for="toggle-4" class="toggle-label">Notification</label> 
  <div role="toggle" class="toggle-content">

	<div class='g-grid gn-flush'>
		<div class='g-block size-60'><div class='g-content'>

			<div class='notices'>Notices</div>
			<div class='notices yellow'>Notice Yellow</div>
			<div class='notices red'>Notices Red</div>
			<div class='notices blue'>Notices Blue.</div>
			<div class='notices green'>Notices Green</div>
	
		</div></div>

		<div class='g-block size-40'><div class='g-content'>

			<div class='alert'>Alert! and a longer messages to see if this element/component goes in multi line.</div>
			<div class='alert alert-warning'>Warning!</div>
			<div class='alert alert-error'>Error Alert!</div>
			<div class='alert alert-info'>Information Alert!</div>
			<div class='alert alert-success'>Success Alert!</div>
		</div></div>
	
	</div>

</div>
</div>

</div><!-- end group -->