<div class='notices yellow'>
This view does not reflect the results of your layout. Only shows the colors with the general layout
</div>

<div class='offwhite pa-3' style='outline: 1px dotted #000'>

<header id='g-header' class='pa-1 bcolors section-header hsl-pal'>
	header - <a href='#dummy'>link</a>
</header>

{% include '@particles/gn-themedev/menu.html' %}	

<div class='gn-col'>
	<aside id='g-aside' class='pa-1 bcolors section-aside hsl-apl'>
	aside - <a href='#dummy'>link</a>
	</aside>
	<main id='g-main' class='pa-1 section-main'>
		<h2>Heading 2</h2>
		<p>{{randomwords(20)|capitalize }}.</p>
		<blockquote>{{randomwords(5)|capitalize }}</blockquote>
		<pre>{{randomwords(3)|capitalize }}</pre>
		<p>
			<a href='/' class='button primary'>primary</a>
			<a href='/' class='button secondary'>secondary</a>
			<a href='/' class='button'>default</a>
		</p>
	</main>
</div>

<footer id='g-footer' class='pa-1 bcolors section-footer hsl-pal'>
	footer - <a href='#dummy'>link</a>
</footer>

</div>


