.dark-scheme blockquote {
	--color: #{unquote("hsl(var(--accent_h), var(--accent_s), 70%)")};
}

.light-scheme blockquote {
	--color: #{unquote("hsl(var(--accent_h), var(--accent_s), 30%)")};
}

blockquote {
	font-family: var(--font-alter);
	font-size: 1.2em;
	color: var(--color);
}
