/* from bourbon/addons
 *
 * $buttons-list
 *
 */

// buttons

$buttons: [
	'button',
	'a.button',
	'input[type="submit"]',
	'input[type="reset"]',
	'input[type="button"]'
];

$all-buttons: assign-inputs($buttons);

$all-buttons-hover: assign-inputs($buttons, hover);


@mixin button-color($val) {
	@include hsl-var-name($val);
	background-color: var(--color);
	color: var(--t);
}

#{$all-buttons} {
	font-weight:500;
	user-select: none;
	line-height: 1.2;
	white-space: nowrap;
	outline: 1px solid var(--shadow);
    border: 1px solid var(--border);
    border-top: 1px solid var(--hilite);
    border-left: 1px solid var(--hilite);
    background-image: linear-gradient(0deg, var(--shade),transparent);

	padding: calc(var(--padding) /2) calc(var(--padding) /2);

	&:hover {
		background-image: linear-gradient(0deg, var(--shadow), transparent);
		box-shadow: 0 2px 2px var(--shadow);
	}

	&:active {
		background-image: linear-gradient(0deg, var(--shadow), transparent);
	}


    @include button-color(button);

    &.yellow { @include button-color(warning); };
    &.red { @include button-color(error); };
    &.green { @include button-color(success); };
    &.blue { @include button-color(info); };

	&.xsmall {
		font-size: .85rem;
		padding: calc(var(--padding) /8) calc(var(--padding) /8);
		}
	&.small,&.inline {
		font-size: 1rem;
		padding: calc(var(--padding) /4) calc(var(--padding) /2);
		}

	&.large {
 		font-size: 1.25rem;
		padding: calc(var(--padding)) calc(var(--padding));
		}

	&.xlarge {
 		font-size: 1.5rem;
		padding: calc(var(--padding) * 1.5) calc(var(--padding) * 1.5);
		}
}

#{$all-buttons} {
	&.primary { @include button-color(accent); };
	&.secondary { @include button-color(surface); };
}

[naked],.naked {
    background: transparent !important;
	color: var(--text);
	outline: none;
	border: none;
	&:hover { background-image: none; box-shadow: none; }
}

[toggle],.toggle {
    background: transparent !important;
    border: none;
	outline: none;
    color: var(--text);
	&:hover { background-image: none; box-shadow: none;  }
}

.toggle:hover { box-shadow: none; }
