
#section-ctl {


	button {
	    --center: calc( (100% / 2) - (var(--margin) / 2) );
        z-index: 1009;
		position: absolute;
		left: initial; right: initial; top:initial; bottom: initial;
		min-width: var(--ctl-width);
		min-height: var(--ctl-width);
		@extend %vcenter;
		i { font-size: calc( var(--ctl-width) / 2) }
		span { margin-left: calc(var(--margin) /2 ) }

		&.left { left: var(--margin) }
		&.right { right: var(--margin); }
		&.top { top: calc(var(--margin)/2); left: var(--center); }
		&.bottom { bottom: calc(var(--margin)/2); left: var(--center); }
	}


}

.nanti .res {

	&.res-show {
		transition: all .25s ease-in-out, height 0.025s linear;
		visibility: visible;
		opacity:1;
		z-index: 9;
		transform: translate(0) !important;
	}

    &.swipe { position: fixed;  }
    &.touched { opacity: .4; }

	@include breakpoint(mobile-only) {
        opacity: 0;
		visibility: hidden;
	}

	@include breakpoint(not-mobile) {
		visibility: visible;
		opacity:1;
		z-index: 9;
		transform: translateX(0) !important;
	}

}
