[class*='section-'] {

    --text: var(--t);
    --background: hsl(var(--h), var(--s), var(--l));
    --hover: hsl(var(--h), var(--s), calc(var(--l) + 5%));
    --active: hsl(var(--h), var(--s), calc(var(--l) - 5%));
    --active-hover: hsl(var(--h), var(--s), calc(var(--l) + 8%));

    .g-grid,
    .g-container {
        height: 100%;
    }

    &:not(.section-main) {

        a:not(.button) { color: var(--text); }

    }
}
