
table {
    --header: hsl( var(--surface_h), var(--surface_s),  75% );
    --header-text: hsl( var(--surface_h), var(--surface_s),  10% );
    --body: hsl( var(--surface_h), var(--surface_s),  95% );
    --body-text: hsl( var(--surface_h), var(--surface_s),  10% );
    --border: hsl( var(--surface_h), var(--surface_s),  75% );
    --shade: hsla( var(--surface_h), var(--surface_s),  75%, .4 );
}

.dark-scheme table {
    --header: hsl( var(--surface_h), var(--surface_s),  var(--surface_l) );
    --header-text: hsl( var(--surface_h), var(--surface_s),  10% );
    --body: hsl( var(--surface_h), var(--surface_s), 10% );
    --body-text: hsl( var(--surface_h), var(--surface_s),  95% );
    --border: hsl( var(--surface_h), var(--surface_s),  5% );
}

table {
    width: 100%;
    border-collapse: collapse;

    thead {
        background-color: var(--header);
        color: var(--header-text)
    }

    tbody {
        background-color: var(--body);
        color: var(--body-text);
    }

    th,td {
        padding: calc(var(--padding) /2);
        border: var(--hrsep) solid var(--border);
        text-align: center;
        vertical-align: middle;
    }

    tr:nth-child(even) td { background: var(--shade) }

}


