
.g-content >:first-child { margin-top: 0 }


.no-g-content > .g-content { 
	height: 100%;
	width: 100%;
	margin:0 !important; 
	padding:0 !important;
}

.fit-block > .g-content {
	margin: 0;
}

main .g-content p { margin-top: var(--padding); }