.section-title {
  color: var(--label, #c60);
  font-weight: 700;
  margin: 2rem 0 1rem 0; }
  .section-title:first-child {
    margin-top: 0; }

.nc-outline > div,
.grid-outline > div {
  outline: 1px solid #0006; }
.nc-outline > div > div,
.grid-outline > div > div {
  outline: 1px dotted #9009; }

.sep {
  width: 3rem; }

.color-chart {
  width: 100px;
  flex: 0 0 100px;
  margin-right: 2rem; }
  .color-chart > div {
    margin: 0.25rem; }
  .color-chart .label {
    text-align: center;
    font-size: .9rem; }

.color-preview {
  width: auto;
  flex: 0 0 calc(100% - 100px - 2rem); }

.boxcolor,
input[type="color"] {
  height: 2.5rem;
  position: relative;
  width: 100%;
  padding: 0 !important; }
  .boxcolor:after, .boxcolor:before,
  input[type="color"]:after,
  input[type="color"]:before {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
    font-family: var(--font-mono);
    width: 72px;
    display: block;
    font-size: .85rem; }
  .boxcolor:before,
  input[type="color"]:before {
    top: .5rem;
    left: .5rem;
    content: attr(data-color);
    font-weight: bold; }
  .boxcolor:after,
  input[type="color"]:after {
    bottom: .25rem;
    right: .5rem;
    text-align: right;
    content: attr(data-value); }

input[type="color" i]::-webkit-color-swatch-wrapper,
input[type="color" i]::-webkit-color-swatch {
  padding: 0;
  border: none;
  cursor: pointer; }

.dummy-preview {
  width: 500px;
  height: 400px; }
  .dummy-preview [class*='-scheme'] {
    width: 50%;
    height: 100%; }
  .dummy-preview .pv-body {
    width: 100%;
    height: 100%;
    background-color: var(--background);
    color: var(--text);
    display: flex;
    flex-direction: column;
    justify-content: space-between; }

.xample:hover {
  background: var(--background);
  outline: 1px solid var(--border);
  position: relative; }
  .xample:hover:after {
    z-index: +1;
    top: 0;
    right: 0;
    font-family: 'neoca-feather';
    content: '\5a';
    position: absolute;
    color: var(--text);
    background-color: var(--border);
    cursor: pointer;
    padding: .1rem; }

.nc-icon {
  display: flex;
  flex-flow: column wrap;
  padding: 1rem;
  text-align: center;
  margin: .5rem;
  outline: 1px dotted var(--border); }
  .nc-icon i {
    font-size: 2rem;
    margin-bottom: 1rem;
    display: block; }
  .nc-icon span {
    display: block;
    text-align: center;
    color: var(--label);
    font-family: var(--font-mono); }
  .nc-icon input {
    width: 80px;
    text-align: center;
    font-size: .8rem; }

/* end of wraper */

/*# sourceMappingURL=dummy.css.map */
/* move to main */

/* themedev */

@import "function.scss";

#ncc-page,
#ncc-panel {
	--panel: #cecede;
	--text:#333;
	--label: #f91;
	--shade: #0001;
    background: var(--panel);
    color: var(--text);
	border: 1px solid var(--border);

	z-index: 202;

}

#ncc-panel {

    input[type="checkbox"] { display: none; }	

    transition: height .25s ease;
	position: fixed;
	width: 210px;
	height: 2.2rem;
	bottom: .25rem;
	right: .25rem;
	font-size: .9rem;
	@include ncc-scrollbars(.25rem,#fffc,#0003);	
	
	form {
		padding: .5rem;
		font-size: .8rem;
		
		.sep { font-weight:700; margin: 1rem 0; }
	}
	
	button {
		padding: .5rem;
		text-align: left;
	}
	
	&.open {
		height: calc(100vh - .5rem);
		overflow-y: auto;
	}
	

    .color-input {
        width: 100%;
    }
    

   .tools {
    	margin:0;
    }

    [naked] {
    	color: var(--text);
    }
}

.dark-scheme {

    #ncc-page,
	#ncc-panel {
		--text: #eee;
    	--shade: #fff1;
		--panel: #3a3a4a;
		--label: #c33;
	}
}

#ncc-page {
    transition:all .25s ease;
	opacity: 0;
	transform: translateX(100%);
	position: fixed;
	left: .25rem;
	width: calc(100vw - .5rem - 230px);
	height: calc(100% - 5rem);
	overflow-y: scroll;
	padding-bottom: 6rem;
	@include ncc-scrollbars(.25rem,#fffc,#0003);	

	form {
		width: calc(100% - 2rem);
	}

	&.open {
    	top: .25rem;
		transform: translateX(0);
		opacity: 1;
	}
}

#ncc-panel .content {
	display: flex;
	height: calc(100vh - 42px);
	flex-flow: column nowrap;
	justify-content: space-between;
	.set {
        overflow-y:auto;
    	background:var(--shade);
    	@include ncc-scrollbars(.25rem,#fffc,#0003);
	}
}

#ncc-chart {
	@extend #ncc-page;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	color: var(--text);
	background: var(--background);

}
