@mixin scrollbars( $size:1rem, $foreground-color:#fffd, $background-color:#0006) {

	&::-webkit-scrollbar { width: $size;  height: $size; }
	&::-webkit-scrollbar-thumb {
		background: $foreground-color; 
		border: 1px outset #0006;
		border-top: 1px outset #0003;
		border-left: 1px outset #0003;
		border-radius: .25rem;
	}
	
	&::-webkit-scrollbar-track { 
		box-shadow: inset -1px 0 3px #0009; 
		background: $background-color; 
	}
	
	&::-webkit-scrollbar-thumb:hover {
		background: #fffd;
		box-shadow: 0 2px 6px #0005;
	}
	
	& {
		scrollbar-face-color: $foreground-color;
		scrollbar-track-color: $background-color;
	}
}


@function textcolor-tint($color, $amount: 65%) {
 	@if (lightness($color) > 50) {
 		@return darken($color, $amount);
	} @else {
    	@return lighten($color, $amount);
  	}	
}

@function maxtint($color) {
	@if (ligthness($color) > 50%) {
		@return hsl( round(hue($color)/1deg), round(saturation($color)), 5%);
	} @else {
		@return hsl( round(hue($color)/1deg), round(saturation($color)), 97%);
	}
}

@function hsl-set($color, $light: false, $sat: false, $hue:false) {
	
	$h: round(hue($color)/1deg);
	
	@if ($sat) {
		$s: round($sat);
	} @else {
		$s: round(saturation($color));
	}
	@if ($light) {
		$l: round($light);
	} @else {
		$l: round(lightness($color));
	}
	
	@return hsl($h,$s,$l);
}


@mixin cssvar-color($varname, $color) {
	--#{$varname}: $color;
	--#{$varname}-txt: maxtint($color);
	--#{$varname}-ho: darken($color,16%);
	--#{$varname}-ac: lighten($color,16%);
}

// hsl

@mixin hsl-basic-pallete($color) {
	$h: round(hue($color)/1deg);
	$s: round(saturation($color));
	$l: round(lightness($color));
	
	$lstep: (90% - $l)/5;
	$dstep: ($l - 7%)/5;

	--w1: hsl($h,$s,90%);
	--co: hsl($h+180,$s,90%);
	--l4: hsl($h,$s,$l + (4 * $lstep));
	--l3: hsl($h,$s,$l + (3 * $lstep));
	--l2: hsl($h,$s,$l + (2 * $lstep));
	--l1: hsl($h,$s,$l + $lstep);
	--d1: hsl($h,$s,$l - $dstep);
	--d2: hsl($h,$s,$l - (2 * $dstep));
	--d3: hsl($h,$s,$l - (3 * $dstep));
	--d4: hsl($h,$s,$l - (4 * $dstep));
	--b1: hsl($h,$s,7%);
}

@mixin hsl-var($color,$extend: true) {

	$h: round(hue($color)/1deg);
	$s: round(saturation($color));
	$l: round(lightness($color));
	$dc: darken($color, (lightness($color) - 6%)/2);
	$lc: lighten($color, (94s% - lightness($color))/2);

	--color: $color;
	--h: $h;
	--s: $s;
	--l: $l;
	--h-co: round(hue($color)/1deg) + 180;
	--h-a1: round(hue($color)/1deg) - 32;	
	--h-a2: round(hue($color)/1deg) + 32;
	--h-t1: round(hue($color)/1deg) + 120;	
	--h-t2: round(hue($color)/1deg) + 240;
	--bg: $color;
	--w0: hsl-set($color,97%);
	--b0: hsl-set($color,3%);
	--dc: $dc;
	--lc: $lc;
	--ho: unquote("hsl(calc(var(--h) + 8), var(--s), calc(var(--l) + 5%))");
	--ac: unquote("hsl(var(--h), var(--s), calc(var(--l) - 5%))");
	--co-ho: unquote("hsl(calc(var(--h-co) + 8), var(--s), calc(var(--l) + 5%))");
	--co-ac: unquote("hsl(var(--h-co), var(--s), calc(var(--l) - 5%))");
	
	
	@if (lightness($color) > 50%) { --txt: var(--b0); } 
	@else { --txt: var(--w0); }

	@if (lightness($dc) > 50%) { --dc-txt: var(--b0); } 
	@else { --dc-txt: var(--w0); }

	@if (lightness($lc) > 50%) { --lc-txt: var(--b0); } 
	@else { --lc-txt: var(--w0); }

	
}
@mixin hsl-colors($color, $text-color: false) {
	@include hsl-var($color);
	@extend .hsl-pal;

}

