
@mixin font-awesome($code,$color: $base-text-color ) {
	&:before  {
		font-family: 'FontAwesome';
		content: $code;
		margin-right: .25rem;
		@if ($color != $base-text-color) { color: $color; }
	}
}

@mixin linktype() {

	a[href$=".zip"] { @include font-awesome("\f1c6",#911); }
	a[href$=".rar"] { @include font-awesome("\f1c6",#191); }
	a[href$=".tar"] { @include font-awesome("\f1c6",#119); }
	a[href$=".gz"]  { @include font-awesome("\f1c6",#919); }
	a[href$=".arj"] { @include font-awesome("\f1c6",#991); }

	a[href$=".html"] { @include font-awesome("\f1c9",#36A); }
	a[href$=".css"] { @include font-awesome("\f1c9",#3A6); }
	a[href$=".php"] { @include font-awesome("\f1c9",#63A); }
	a[href$=".java"] { @include font-awesome("\f1c9",#A63); }
	a[href$=".pl"] { @include font-awesome("\f1c9",#6A3); }
	a[href$=".py"] { @include font-awesome("\f1c9",#A36); }

	a[href$=".pdf"] { @include font-awesome("\f1c1"); }

	a[href$=".jpg"] { @include font-awesome("\f1c5",#96d); }
	a[href$=".jpeg"] { @include font-awesome("\f1c5",#96d); }
	a[href$=".png"] { @include font-awesome("\f1c5",#d96); }
	a[href$=".svg"] { @include font-awesome("\f1c5",#69d); }
	a[href$=".bmp"] { @include font-awesome("\f1c5",#6d9); }
	a[href$=".gif"] { @include font-awesome("\f1c5",#96d); }

	a[href$=".txt"] { @include font-awesome("\f15c",#999); }
	a[href$=".md"] { @include font-awesome("\f0f6",#666); }
	
	a[href$=".doc"] { @include font-awesome("\f1c2",#00c); }
	a[href$=".ppt"] { @include font-awesome("\f1c4",#c0c); }
	a[href$=".xls"] { @include font-awesome("\f1c3",#0c0; }
	a[href$=".docx"] { @include font-awesome("\f1c2",#00c);  }
	a[href$=".pptx"] { @include font-awesome("\f1c4",#c0c); }
	a[href$=".xlsx"] { @include font-awesome("\f1c3",#0c0); }

	a[href$=".mp4"] { @include font-awesome("\f1c8",#a00); }
	a[href$=".ogv"] { @include font-awesome("\f1c8",#0a0); }
	a[href$=".avi"] { @include font-awesome("\f1c8",#00a); }

	a[href$=".mp3"] { @include font-awesome("\f1c7",#33c); }
	a[href$=".ogg"] { @include font-awesome("\f1c7",#c33); }
	a[href$=".au"] { @include font-awesome("\f1c7",#3c3); }


	// a[href^="/"], a[href^=".."] {}
	
	a[href^="http"] { @include font-awesome("\f0ac"); }
	a[href^="mailto:"] {@include font-awesome("\f003"); }

}