$base-font-size: 1rem;

$content-padding: .5rem !default;
$content-padding-vert: $content-padding !default;
$content-margin: 1rem !default;
$content-margin-vert: $content-margin !default;
$content-line-height: 1.5 !default;
$content-border-radius: .25rem !default;
$content-box-height: 75vh !default;

$menu-col-width:180px !default;
$menu-animation:g-fade !default;
$menu-mobile-breakpoint: 48rem !default;
$menu-icon-w:3rem !default;
$menu-icon-h:3rem !default;
$menu-panel-width: 75vw !default;

$breakpoints-large-desktop-container:75rem !default;
$breakpoints-desktop-container:60rem !default;
$breakpoints-tablet-container:48rem !default;
$breakpoints-large-mobile-container:30rem !default;
$breakpoints-mobile-container: $breakpoints-large-mobile-container !default;
$breakpoints-mobile-menu-breakpoint: $menu-mobile-breakpoint !default;

$navigation-background:#991111 !default;
$navigation-text-color: #ff0 !default;
$navigation-active: #000 !default;
$navigation-hover: #c66 !default;

$aside-background:false !default;
$aside-text-color:false !default;
$aside-active:false !default;
$aside-hover:false !default;

$header-background:false !default;
$header-text-color:false !default;
$header-active:false !default;
$header-hover:false !default;

$footer-background:false !default;
$footer-text-color:false !default;
$footer-active:false !default;
$footer-hover:false !default;

$color-yellow: #ffc20a !default;
$color-red: #cc2936 !default;
$color-blue: #3c60ad !default;
$color-green: #44af69 !default;

$base-background:#f7f7f7 !default;
$base-neutral:#dddddd !default;
$base-accent:#ffcc33 !default;
$base-accent-2:#dd2222 !default;
$base-offwhite:#ffffff !default;
$base-text-color:#222222 !default;

$font-base:clearsans, sans-serif !default;
$font-size: 14px !default;
$font-heading:false !default;

$menu-col-width:180px !default;
$menu-animation:g-fade !default;
$menu-hide-on-mobile:1 !default;
$option-nucleus_css:0 !default;
$option-grav_css:0 !default;
$option-hydrogen_css:0 !default;
$option-devinchrome:1 !default;
$option-animate_css:0 !default;

$border-radius: $content-border-radius;

$accent-color-1:#ab1380 !default;
$accent-color-2:#60b8c9 !default;
$accent-color-3:#6b3387 !default;
$accent-color-4:#4d7d28 !default;

