/* extend this to reset the element */

%normalize {
	margin:0; 
	padding: 0;
	font-size: $font-size;
	line-height: 1.15;
	border: none;
	outline: none;
	list-style-type: none;
	
	ul,ol {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	
	a { 
		border: none; 
		&:hover, &:active { border: none; }
	}
	
	
}

@mixin border-radius($ratio:1) {
	border-radius: calc(#{$ratio} * var(--bradius));
}


@mixin flex($direction: row, $align-item: center, $justify-content: flex-start, $wrap: wrap) {
	display: flex;
	flex-direction: $direction;
    align-items: $align-item;
    justify-content: $justify-content;
	flex-wrap: $wrap;	
}
