@function varcalc_func($unit,$m:1) {
	@if ($m==1) { @return var(--#{$unit}); }
	@else if ($m==0) { @return 0; }
	@else { @return unquote("calc(#{$m} * var(--#{$unit}))"); }
}

@function varc($what,$t:1, $r:false,$b:false,$l:false) {
	$unit: var(--#{$what});
	$vt: varcalc_func($what,$t);
	$vb: unquote('');
	$vr: unquote('');
	$vl: unquote('');
	
	@if ($r) { 	$vr: varcalc_func($what,$r); }
	@if ($b) { 	$vb: varcalc_func($what,$b); }
	@if ($l) { 	$vl: varcalc_func($what,$l); }
	
	@return str-trim($vt $vr $vb $vl);
}


