

@mixin poko-fontsize($size) {
	$size: str-trim($size); $is:'';
	$fz_px: false;
	$fz_rem: false;
	@if (str-index($size,'px')) { $lsize: $size/1px; $is: 'px' }
	@if (str-index($size,'rem')) { $lsize: $size/1rem; $is: 'rem' }
	@if (str-index($size,'em')) { $lsize: $size/1em; $is: 'rem' }
	@if ($is=='px') { $fz_rem: $lsize/16 * 1rem; $fz_px: $size; }
	@if ($is=='rem') { $fz_px: $lsize * 16px; $fz_rem: $size; }
		
	//@if ($fz_px) { font-size: $fz_px; }
	@if ($fz_rem) { font-size: $fz_rem; }
}

	
