/* -------------------------------------------------------------
 * 
 * neocatema/component - 12/03/20 11:00:35
 * 
 */ 
 
@import 'component/_common';
@import 'component/alert';
@import 'component/blockquote';
@import 'component/buttons';
@import 'component/form';
@import 'component/heading';
@import 'component/inline';
@import 'component/list';
@import 'component/menu';
@import 'component/notices';
@import 'component/pre';
@import 'component/res-ctl';
@import 'component/section';
@import 'component/table';
