#breadcrumbs {
    padding: .5rem 1.5rem 0;
    font-size:.9rem;
    line-height:2;

    color: var(--neu-d);
    
    a { color: var(--neu-b); font-weight: 500 }
    a:hover { color: var(--red); }
}
