table.pallete {
    --header: #111;
    --cell: #111;
    color:#fff;
	font-size: .75rem;

	td, th {
		margin:0;
		border:none;
		text-align: center;
	}
	
	tr:nth-child(odd) td { background-color: none; }
	
	.fit {
		padding: 0;position: relative;height: 100%;
		
		div {display: flex;width: 100%;height: 100%;position: absolute;top: 0;align-items: center;justify-content: center;}

	}

}


input[type='color'] {
    border: none;
    background: #0000;
    display: block;
    padding: 0;
    height:2rem;
    font-size: .9rem;
    width: 2rem;
}

input[type="color" i]::-webkit-color-swatch-wrapper {
    padding:0 0;
}

input[type="color" i]::-webkit-color-swatch {
    border:none;
}


.p-color {

    display: flex;
    margin-top: .5rem;
    flex-direction: column;

	h4 { margin:0; font-size: .8rem; }

	.row {
		display: flex;
		flex-direction:row;
		flex-flow: wrap;
		width: 100%;
		
		> div {
			width:2rem;
			height:2rem;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: .7rem;

			&:not(.legend):hover {
				outline: 1px dotted #0006;
				outline-offset: -2;
			}
		}

		.legend {
			padding-left: .5rem;
			width: auto;
			outline: none;
		}
	}

	
}	

.p-chart { 
	display: flex;
	flex-direction:column;
	padding: 0 .5rem 1rem .5rem;
	flex:1 1 100%;
}


#color-chart {

	label.switch {
		position: absolute;
		margin-top: 0.5rem;
		right: 0;
		z-index: 9;
	}

}