.sandbox {
	display: flex;
	flex-flow: column;
	min-width: 100%;
	.row {
		display: flex;
		min-width: 100%;
	}
}
.colorbar,.sample-panel {
	padding: .5rem 3px 3px 3px;
	background-color: #ccc;
	width: 100%;
	margin: 0 .5rem 1rem 0;
	input[type='checkbox'] {
		display: none;
		&:not(checked) {
			~ {
				label {
					>i.on {
						display: none;
					}
					>i.off {
						display: inline-block;
					}
				}
			}
			~.chart,~.sample {
				background: var(--w0);
				--txt: var(--b0);
			}
		}
		&:checked {
			~ {
				label {
					>i.on {
						display: inline-block;
					}
					>i.off {
						display: none;
					}
				}
				.chart,.sample {
					background: var(--b0);
					--txt: var(--w0);
					p,h2 { color: #fff; }
				}
			}
		}
	}
	h3 {
		margin: 0;
		float: left;
		padding-left: .5rem;
		font-size: 1rem;
		overflow: hidden;
		white-space: nowrap;
		width: 75%;
		text-overflow: ellipsis;
	}
	label {
		margin: 0;
		float: right;
		padding-right: .5rem;
		font-size: .9rem;
	}
	.chart {
		clear: both;
		padding: .5rem;
		>div {
			height: 3rem;
		}
		>.row {
			display: flex;
			flex-direction: row;
			>.col {
				display: flex;
				flex: 1 0 auto;
				flex-direction: column;
				>div {
					width: 100%;
					height: 100%;
					display: flex;
					align-items: center;
					justify-content: space-around;
					text-align: center;
					flex-direction: column;
					position: relative;
					>div.layer {
						position: absolute;
						width: 100%;
						height: 100%;
						top: 0;
						left: 0;
					}
					span {
						display: block;
					}
				}
			}
		}
	}
	.col {
		.sub {
			font-size: .8rem;
		}
	}
}

.colorbar.main {
	width: 50%;
	flex: 1 0 50%;
}


.wfh {
	width: 100%;
	p {
		width: 100%;
		margin: 0 !important;
		display: block;
		label {
			display: inline-block;
			width: 40%;
			font-weight: 700;
		}
		input {
			display: inline-block;
			width: 50%;
		}
		input.fit {
			display: inline-block;
			width: 30%;
		}
		button.fit {
			width: 20%;
			line-height: 1.1;
		}
		span {
			display: inline-flex;
			position: absolute;
			width: 28px;
			height: 28px;
			border: 1px solid #0003;
			margin-left: 3px;
		}
	}
}
.sample {
	padding: 1rem 0;
	clear:both;
}

.panel { background-color:#ccc; padding: 1rem .5rem; margin-bottom: 1rem;  }


