

#pb-panel {

	background: #eee;
	outline: 1px solid #ccc;

	> div { 
		width: 100%;
	    display: flex;
		flex-flow: wrap;
		padding: .5rem;
		align-items: center;
	}

	h3 {
		flex:0 0 75%;
		margin: 0;
		justify-content: flex-start;
		padding: 0;
		font-size: .9rem;
		display: inline-flex;
		align-items: center;
		justify-content:flex-start;
	}

	label {
		flex: 0 0 25%;    
		text-align: right;
		display: inline-flex;
		align-items: center;
		justify-content:flex-end;
		padding: .25rem .5rem 0 0;
	}

	.content { width: 100%; position: relative; }

}
	

.panel-switch {


    input[name='switch'] {
		~label.switch { color: #111; }
		~label.switch i.on { display: none; }
		~label.switch i.off { display: block; }
		~div.content { background: #fff; color: #111; }
	
		&:checked {
			~label.switch { color: #ddd; }
			~label.switch i.on { display: block; }
			~label.switch i.off { display: none; }
			~div.content { background: #111; color: #ddd; }
		}
	}
	
}

.panel-toggle {

    input[name='toggle'] {
		~label.toggle i.on { display: none; }
		~label.toggle i.off { display: block; }
		~div.content { display: block }
	
		&:checked {
			~label.toggle i.on { display: block; }
			~label.toggle i.off { display: none; }
			~div.content { display:none }
		}
	}
	
}

