html { box-sizing:border-box; }

*,
*:before,
*:after { box-sizing: inherit; }

tfoot,
thead,
tbody {
	background-color: inherit;
}

// Known vertical section/container

main,
aside {
    min-height: 100%;
}

