.gn-branding,
#gn-branding {

	display: flex;
	
	a { 
		border: none; outline: none; 
		position: relative;
		@include flex(row, center, flex-start);
	}

	.site-logo {

		flex-shrink: 1;

		i.icon,
		svg,
		img {
			height: 100%;    
		}

		i.icon {
			display: inline-flex;
			align-items: center;
			font-size:2rem;
		}
	}
	
	.wrapper {
		@include flex(column,start,center,initial);
		flex: 1 0;
		font-weight: 300;
		line-height: 1.2;
		
		.site-title { 
			font-weight: 600;
			margin: 0 0 .125rem 0; 
			font-size: 2em; 
		
			small {
				display:block;
				font-size: .625rem;
				text-transform:uppercase;
			}		
		}

		.subtext { 
			font-size: .9rem;
			margin: 0;
		}
	}

	@include breakpoint(mobile-only) {
		margin: 0 calc( var(--ctl-width) * 1.5);
	}
}

.res-mobile #gn-branding {
	margin: 0 calc( var(--ctl-width) * 1.5);
}

