@keyframes carousel-paralax {
    0% { background-position: 50% 50%; }
    50% { background-position: 60% 52%;}
    100% { background-position: 50% 50%; }
}

@keyframes img-dance {
    0% { transform: translateX(0); }
	50% { transform: translateX(5px); }
	60% { transform: translateX(-5px); }
	70% { transform: translateX(3px); }
	80% { transform: translateX(-3px); }
	100% { transform: translateX(0); }
}

@keyframes img-bounce {
    0% { transform: translateY(0); }
    30% { transform: translateY(-10px); }
	50% { transform: translateY(10px); }
	60% { transform: translateY(0px); }
	70% { transform: translateY(5px); }
	80% { transform: translateY(0px); }
	90% { transform: translateY(3px); }
	100% { transform: translateY(0); }
}

@keyframes img-spinbit {
    0% { transform: rotate(0); }
    40% { transform: rotate(0); }
    50% { transform: rotate(1deg); }
    60% { transform: rotate(-1deg); }
    70% { transform: rotate(0); }
    100% { transform: rotate(0); }
}

.gn-carousel {

	@extend .bg-color-accent-1;
	
	a:not(.button) { border-bottom: none !important; }
	
	overflow:hidden;
	z-index: 1;

	width: 100%;
	max-height:100vh;
	height:100vh;
	position: relative;
	margin: 0;
	box-sizing:border-box;

	background-color: var(--bg);
	color: var(--txt);

	.carousel-item {

		display:flex;
		background-size: cover;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-blend-mode: soft-light;
		box-sizing:border-box;
		align-items: center;
		justify-content: center;
		transition: all 1.5s linear;
		position: absolute;
		width:100%;
		height: 100%;
		left:0px;

		h2,h1 { font-size: 1.1rem; }


		&.slide-show {
			left:0px;
			opacity:1;
			background-color: #000c;
			background-position: 50% 50%;
			transition: all 1s;
			animation: 20s ease-in 1s infinite carousel;
			visibility: visible;
		}

		&.slide-hide {
			left:100%;
			opacity:.5;
			background-color: #0006;
			background-position: 0% 50%;
			visibility: hidden;
		}

		&.slide-after {
			left:-100%;
			opacity:.5;
			background-color: #0006;
			background-position: 100% 50%;
			visibility: hidden;
		}

		.content {
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 6rem;
			z-index: 90;
			color:#fff;
			fon-size: 2em;
			
			h1,h2,h3,h4,h5,h6 {
				color:#fff;
			}
			
			img { max-height: 75% }
		}	

		&.frames {
	
			.content {
				flex-flow:row;
				margin: 2rem 6rem !important;
				width: 100%;
				justify-content:space-evenly;
			}
		

			.inside {
				display: block;
				text-align:left;
				width: 50%;
				margin: 1rem;
			}

			.image {
				max-width: 50%;
				text-align: center;

				img {
					width: 70%;
				}
			}
			

			&.slide-show {
				opacity:1;
				background-color: #0001;
				
			}

			&.slide-hide {
				left:100%;
				opacity:0;
			}

			&.slide-after {
				opacity:0;
			}			
		}
		
	}
	
	.carousel-ctl {
		position: absolute;
		bottom:0;
		left: 0;
		width: 100%;
		height: 60vh;
		display: flex;
		align-items: center;
		z-index: 88;


		.prev, .next {
			cursor: pointer;
			position: absolute;
			top: 50%;
			width: auto;
			margin-top: -22px;
			padding: 16px;
			color: white;
			font-weight: bold;
			font-size: 1rem;
			transition: 0.6s ease;
			user-select: none;
		}


		.prev { left:0; border-radius: 0 .2rem .2rem 0; }
		.next { right: 0; border-radius: .2rem 0 0 .2rem; }

		.prev:hover, 
		.next:hover {
			background-color: #fff3;
			color:#fff;
		}

	}	


	.carousel-dot {
		text-align: center;
		bottom: 0;
		position: absolute;
		width: 100%;
		height: 2rem;
		z-index: 89;

		.dot {
			background-color: #fff9;
			border-radius: 50%;
			width: .5rem;
			height: .5rem;
			display: inline-block;
			margin: .15rem;
		}

		.active, 
		.dot:hover { background-color: #fff; }

	}

	.carousel-button { margin: 2rem 0; }

}

.gn-carousel .slide-show {

	.img-bounce img { animation: 2s linear 1s 1 img-bounce; }
	.img-spinbit img { animation: 2s linear 1s 1 img-spinbit; }
	.img-dance img { animation: 2s linear 1s 1 img-dance; }
	.photo img {
		padding: .5rem;
		background:#fff;
		box-shadow: 1px 2px 4px var(--shade);					
	}

}

.gn-carousel,
.gn-showcase {
	h1,h2,h3,h4,h5,h6,p { margin: 0 }
	p { margin-top: .5rem; }
}


	
.g-block.align-right {

	.carousel-item.frames {
		.content { flex-flow:row-reverse; }
		.inside { text-align: right; }
	}

}

.g-block.center {
	.carousel-item.frames {
		.inside { text-align: center; }
	}
}
	