
.gn-small .modular-row,
.gn-mobile .modular-row {
    padding: 2rem; 
}


.gn-small .modular-row .feature,
.gn-mobile .modular-row .feature {
    flex: 1 1 50%;
    padding: .5rem;
}

.gn-small .modular-row.horizontal .feature,
.gn-mobile .modular-row.horizontal .feature {
    flex: 1 1 100%;
	width: 100%;
    padding: 1rem 2rem;
}

.g-content .modular-row { 
	margin: 0 -1rem;
}

.modular-row { 

	@extend .hsl-pal;

    display: flex;
	overflow: hidden;
    min-height: var(--box-height);
	
	padding: calc(6 * var(--margin)); 
    text-align: center;

    background-size: cover;
	background-position: 50% 50%;
	background-color: #0009;

	transition: all .25s linear;

	&.center { text-align: center; }
	&.align-left { text-align: left; }
	&.align-right { text-align: right; }
	
	a:not(.button) {
		color: var(--w1);
		border-bottom: none;
		&:visited { color: var(--w1); }
		&:hover { color: var(--w1); }
		&:active { color: var(--w1); }
	}
	
	h1 {
		font-weight: 300;
		font-size: 4rem;
		line-height:1.5;
		margin:0;
	}
	
}

.modular-row.features {

	@if $accent-color-2 {
		@extend .bg-color-accent-2;
	}
	
    background-color:var(--b0, #0009);
    color:var(--w1,#fff, #fff);

    flex-direction:column;
    justify-content: space-between;
    height: 100%;

	.feature {
		width: 25%;
		line-height: 1.4;
		padding: 1rem;
		i.fa { font-size: 3rem; margin-bottom:1rem;}
		p { margin:0; }
		h4 { margin: 0 0 .5rem 0; }

	}

	&.horizontal {
	
		.feature-items {
			display:flex;
		}
		
		.feature {
			display: flex;
			justify-content: flex-start;
			text-align: left;
			width: 50%;
			p { margin:0; }
			h4 { margin: 0 0 .5rem 0; }
			.icon-offset { margin-left: 1rem; }

		}

	}
	.feature-items {
		display: flex;
		flex-flow: wrap;
		justify-content:space-evenly;
	}

}



.modular-row.showcase {


    background-color:var(--b0, #0009);
    color:var(--w1,#fff);

    background-position: 50% 40%;
    flex-direction:column;
    justify-content:space-around;
    background-size: 160%;
    animation-iteration-count:infinite;
	
	a.button.primary { background: var(--primary); }
}

.modular-row.showcase .content {
    font-size: 2rem;
}

.modular-row.callout {
    
	@if $accent-color-3 {
		@extend .bg-color-accent-3;
	}
	
    justify-content:space-evenly;
    align-items:center;
    font-weight: 300;
    font-size:2rem;
    line-height: 1;
        
}
