#gn-toc ol { margin: 0; padding: 0; list-style-type: none; }
#gn-toc ol li ol > li a:before {content: "\00B7\0020";}
#gn-toc ol a {
    display: block;
    overflow: hidden;
    height: 1.5rem;
    line-height: 1.5rem;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
}

.toc {
	overflow-y: auto;
	width: 100%;
	display:block;
	
	>.toc-list {
		overflow: hidden;
		position: relative;
		li {
			list-style: none;
		}
	}
}

/* tocbot.css */

.toc-list {
	margin: 0;
}

a.toc-link {
	color: currentColor;
	height: 100%;
}

.is-collapsible {
	max-height: 1000px;
	overflow: hidden;
	transition: all 300ms ease-in-out;
}

.is-collapsed {
	max-height: 0;
}

.is-position-fixed {
	position: fixed !important;
	top: 0;
}

.is-active-link {
	font-weight: 700;
	color: var(--red) !important;
	
}

