[block] { 

	display: block;

	&:after {
		content: '';
		clear:both;
		display:block;
	}

	> div { float: left; }

    [full] {
    	width: 100%;
    }

    [half] { 
    	width: 50%;
    	@include breakpoint(mobile-only) {	
    	   width: 100%;
        }
    }

    [third] { 
    	width: 33.3%;
    	@include breakpoint(mobile-only) {	
    	   width: 100% !important;
        }
    }

    [quater] { 
        width: 25%; 
        @include breakpoint(mobile-only) {	
    		width: 50% !important;
    	}
	
    }

}
