[flex] { 

    [flex] { 
        flex-shrink:1;
    }
    
	&.column {
		flex-direction: column;
	}
	
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

    [full] { 
        @include flex(0 0 100%);  
    }

    [half] { 
        @include flex(0 0 50%);
    	@include breakpoint(mobile-only) {	
            @include flex(0  0 100%); 
    		margin-bottom: 2rem; 
    	}
    }

    [quater] { 
        @include flex(0 0 25%); 
        @include breakpoint(mobile-only) {	
    	   @include flex(0 0 25%); 
	   	   margin-bottom: 2rem;
	   }
    }
    
    [third] { 
        @include flex(0 33.3%); 
        @include breakpoint(mobile-only) {	
            @include flex(0 100%); 
    		margin-bottom: 2rem; 
        }
    }

    [grow] {
	   flex-grow:1 !important;
    }

    [shrink] {
        flex-shrink:1 !important;
    }

	
}

@include breakpoint(mobile-only) {

	.g-block.block-res {
		&[grow],&.grow {
			width: 100% !important;
		}
	}
}