.g-block {

    &.middle { align-items: center; height: 100%; }
    &.top { align-items: flex-start;  height: 100%;}
    &.bottom { align-items: flex-end;  height: 100%;}
    &.center { justify-content: center; width: 100%; }
    &.left { justify-content: flex-start; width: 100%; }
    &.right { justify-content: flex-end; width: 100%; }

    > .g-content { width: 100%; }
    
    &.middle > .g-content { align-items: center; }
    &.top > .g-content { align-items: flex-start; }
    &.bottom > .g-content { align-items: flex-end; }
    &.center > .g-content { justify-content: center; }
    &.left > .g-content  { justify-content: flex-start; }
    &.right > .g-content { justify-content: flex-end; }


    &.grow { flex: 1 0 auto !important; width: auto !important }
    &.shrink { flex: 0 1 auto !important;  width: auto !important }

    &.flush > .g-content { 
        display: flex;
        padding: 0; 
        margin: 0; 
        width: 100%;
        height: 100%;
    }

    &.block-ctl,.block-ctl { 
        display: none !important;
    }
    
    &.block-res { 
        flex: 0 0 auto !important;
        width: auto !important;
    }
     
	@media only all and (max-width: $breakpoints-mobile-menu-breakpoint) {

	    &.float-right { position: absolute; right: 0; top: 0 }
        &.float-left  { position: absolute; left: 0; top: 0 }
        
        &.block-ctl {
        	display: flex !important;
        }
        
        &.block-res { 
            display: none !important; 
            &.show {
            	position: absolute; 
            	z-index: 10010;
                display: flex !important; 
           }
        }

    }

}
