[toggle] {
	display: none;
	~ label { cursor: pointer; }	
	&:not(checked) ~ [toggle-content] { 
		display: none;
		[h-toggle] { transition: .5s all .1s ease; height: 0 }		
		[w-toggle] { transition: .5s all .1s ease; width: 0 }		
	}
	&:checked ~ [toggle-content] { 
		display: block;
		width: 100%;
		[h-toggle] { height: auto; }
		[w-toggle] { width: auto; }		
	}
}
