:-moz-ui-invalid {
  box-shadow: none;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}


[type='search'] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}
