nav.menucan {

	height: 100%;
	width: 100%;
	display: flex;
	z-index: 100;
	position: relative;
	

	input[type="checkbox"] { display: none; }

	ul,li {
		margin: 0; padding: 0;
		display: flex; align-items: center;
		list-style: none;
		height: auto;
        background: var(--color);
        color: var(--text);
        z-index: 101;
	}

	.toplevel {

		width: 100%;
		display: flex;
		flex-direction: row;
		
		li {
			height: 100%;
			flex-direction: column;
			align-items: flex-start;
		
			label {
				position: absolute;
				right: 1rem;
			}
		}
	}

	.menu-hasdropdown {

		position: relative;
	    flex-direction: column;
		
		div.dropdown-menu {
			display: none;
			overflow: hidden;
			
			.menu-dropdown {
				display: flex;
				flex-flow: column;
				position: absolute;
			
				.menu-dropdown {
					left: 100%;
					top: 0;
				}
			}
		}
	
		input[type="checkbox"]:checked {
			~ div.dropdown-menu { display: block; }
			~ a { opacity: .2 }
		}
		
		&:hover {
			>div.dropdown-menu {
				display: block;
			}
		}
	}
	
	.nav-item-container {
	
		display: inline-flex;
		align-items: center;
		justify-content: flex-start;
		width: 80%;
	
		.nav-item-content {
			line-height: 1.2;

			.nav-item-subtitle {
				display: block; 
				font-size: .75em;
				opacity: .4;
			}

		}
	
		.nav-item-icon {
			margin-right: 1rem;
			font-size: 1.2rem;
		}
	
	}
	
	@media only all and (max-width: $breakpoints-mobile-menu-breakpoint) {

		width:100%;
		
		ul, li {
			width: 100% !important;
		}
	
		.toplevel {
			flex-direction: column;
			height:auto;
			> li {
				width: 100%;
				height: auto;

			}
		}
		
		.nav-item-container { height: auto; }
		
		.menu-hasdropdown {
			
			div.dropdown-menu {
				width: 100% !important;
			
				.menu-dropdown {
					position: relative !important;
					border-top: 1px dotted #ccc;

					.menu-dropdown {
						position: relative !important;
						left: 0 !important;
					}				
				}
			}
		
			&:hover {
				/* deactive hover */
				>div.dropdown-menu {
					display: none;
				}
			}
		}
	}

		
}


