
// Attributes

@for $i from 1 through 5 {
	:not(.grow):not(.shrink):not([hidden])[size-#{$i}] {
		@include flex(0 5%);
		width: 5%;
	}
}

@for $i from 6 through 99 {
	:not(.grow):not(.shrink):not([hidden])[size-#{$i}] {
		@include flex(0 $i * 1%);
		width: $i * 1%;
	}
}


// Equal size fallbacks for older browsers
@each $i, $n in ('33-3', 1/3), ('16-7', 1/6), ('14-3', 1/7), ('12-5', 1/8), ('11-1', 1/9), ('9-1', 1/11), ('8-3', 1/12) {
    [size-#{$i}] {
        @include flex(0 percentage($n));
        width: percentage($n);
        max-width: percentage($n);
    }
}

[size-100] {
    width: 100% !important;
    max-width: 100% !important;
    @include flex-grow(0);
    @include flex-basis(100%);
}

@for $i from 5 through 100 {
	.size-#{$i}, .g-block.size-#{$i} {
		@extend [size-#{$i}]
	}
}


// Visibility
.visible-large,
.visible-desktop,
.visible-tablet,
.visible-phone,
.g-block.visible-large,
.g-block.visible-desktop,
.g-block.visible-tablet,
.g-block.visible-phone {
  display: none !important;
}

@include breakpoint(mobile-only) {
  .visible-phone {
    display: block !important;
  }
  .g-block.visible-phone {
    display: block !important;
  }
}

@include breakpoint(tablet-range) {
  .visible-tablet {
    display: block !important;
  }
  .g-block.visible-tablet {
    display: block !important;
  }
}

@include breakpoint(desktop-range) {
  .visible-desktop {
    display: block !important;
  }
  .g-block.visible-desktop {
    display: block !important;
  }
}

@include breakpoint(large-desktop-range) {
  .visible-large {
    display: block !important;
  }
  .g-block.visible-large {
    display: block !important;
  }
  .visible-desktop {
    display: block !important;
  }
  .g-block.visible-desktop {
    display: block !important;
  }
}

// Invisibility
@include breakpoint(mobile-only) {
  .hidden-phone {
    display: none !important;
  }
}

@include breakpoint(tablet-range) {
  .hidden-tablet {
    display: none !important;
  }
}

@include breakpoint(desktop-range) {
  .hidden-desktop {
    display: none !important;
  }
}

@include breakpoint(large-desktop-range) {
  .hidden-large {
    display: none !important;
  }
  .hidden-desktop {
    display: none !important;
  }
}

// Alignment
@include breakpoint(mobile-only) {
  .align-right {
    text-align: inherit !important;
  }
  .align-left {
    text-align: inherit !important;
  }
}



// Page Container

.g-container {

	width: $breakpoints-large-desktop-container;

	@include breakpoint(desktop-range) {
		width: $breakpoints-desktop-container;
	}
	@include breakpoint(tablet-range) {
		width: $breakpoints-tablet-container;
	}
	@include breakpoint(large-mobile-range) {
		//width: $breakpoints-large-mobile-container;
		width: 100%;
	}
	@include breakpoint(small-mobile-range) {
		//width: $breakpoints-mobile-container;
		width: 100%;
	}

	&.g-flushed {
		width: 100%;
	}
}

// Grid Row and Column Setup


@include breakpoint(mobile-only) {

	main { padding-bottom: 4rem; }
	.g-block {

		@include flex-grow(0);
		@include flex-basis(100%);

		&[class*="size-"] {
			@include flex-grow(0);
			@include flex-basis(100%);
			max-width: 100%;
			width: 100% !important;
		}


		.flex-grow {
			@include flex-grow(1);
			max-width: 100% !important;
		}

	}

}

// Fix for Firefox versions 27 and below

@include breakpoint(mobile-only) {
	@supports not (flex-wrap: wrap) {
		.g-grid {
			display: block;
			@include flex-wrap(inherit);
		}
		.g-block {
			display: block;
			@include flex(inherit);
		}
	}
}

// Page Container
.g-container {
	margin: 0 auto;
	padding: 0;
}

.g-block .g-container {
    width: auto;
}

// Grid Row and Column Setup
.g-grid {
	// @include display(flex);
	display: flex;
	@include flex-flow(row wrap);
	list-style: none;
	margin: 0;
	padding: 0;
	text-rendering: optimizespeed;
	&.nowrap {
		@include flex-flow(row);
	}
	position: relative;
}

.g-block {
	@include flex(1);
	min-width: 0;
	min-height: 0;
}

// Reordering
.first-block {
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
}

.last-block {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
}


.g-content {
	padding: var(--padding);
}


/*
 * bootstrap compatible
 */

.col-1 { @extend [size-100] }
.col-2 { @extend [size-50] }
.col-3 { @extend [size-33-3] }
.col-4 { @extend [size-25] }
.col-5 { @extend [size-20] }
.col-8 { @extend [size-12-5] }

html .no-size .g-block {
	[class*='size-'] {
	    @extend [size-100];
    }
}