@mixin notice-color($name) {
    @include hsl-var-name($name);
	$light: 89%;
	background-color: #{unquote("hsl(var(--h), var(--s), #{$light})")};
	color: #{unquote("hsl(var(--h), var(--s), #{100-$light})")};
	--border: #{unquote("hsl(var(--h), var(--s), var(--l))")};
}


.notices {
	padding: var(--padding);
	border: 1px solid var(--border);
	margin: var(--margin) 0;
	border-radius: var(--bradius);
	position: relative;
	line-height: 1.2;
	padding-right: calc( 2 * var(--padding));

	&:after {
		font-family: 'neoca-feather';
		content: '\26';
		position: absolute;
		top: .25rem;
		right: .25rem;
	}

    &.yellow { @include notice-color(warning); };
    &.red { @include notice-color(error); };
    &.green { @include notice-color(success); };
    &.blue { @include notice-color(info); };

	border-left: .5rem solid var(--border);

}