[class*='section-'] {

    --text: var(--t);
    --background: #{unquote("hsl(var(--h), var(--s), var(--l))")};
    --hover: #{unquote("hsl(var(--h), var(--s), calc(var(--l) + 5%))")};
    --active: #{unquote("hsl(var(--h), var(--s), calc(var(--l) - 5%))")};
    --active-hover: #{unquote("hsl(var(--h), var(--s), calc(var(--l) + 8%))")};

    .g-grid,
    .g-container {
        height: 100%;
    }

    &:not(.section-main) {

        a:not(.button) { color: var(--text); }

    }
}
