html { box-sizing:border-box; }

*,
*:before,
*:after { box-sizing: inherit; }

tfoot,
thead,
tbody {
	background-color: inherit;
}

// Known vertical section/container

main,
aside {
    min-height: 100%;
}

%imagecover {
	background-color:#0009;
	background-position: 50% 0%;
	background-size: cover;
	background-blend-mode:darken;
}