// container: block that only act as marks

%block {
	margin: 0;
	padding: 0;
	display: block;
	border: none;
}

$container_list: [
	'footer',
	'header',
	'section',
	'main',
	'article',
	'aside',
	'nav',
	'details',
	'fieldset',
];

$container: assign-inputs($container_list);

#{$container} {
	@extend %block;
}

