{% block particle %}
<div class='popularity line-data'>

{% if particle.title %}<h4 class='g-title'>{{ particle.title|raw }}</h4>{% endif %}
<div class='daily'>Daily<span class="stat">{{ config.gas.stat.daily }}</span></div>
<div class='monthly'>Monthly<span class="stat">{{ config.gas.stat.monthly }}</span></div>
<div class='total'>Totals<span class="stat">{{ config.gas.stat.total }}</span></div>
</div>
{% endblock %}