{% block particle %}
<button  
	class='toggle gn_scheme_switch'
	title="Scheme" id="neoca_scheme_switch" onclick="ncc_scheme_switch();">
	<i class="ncico-toggle-left"></i>
	{% if particle.title %}<span>{{ particle.title|raw }}</span>{% endif %}
</button>
{% endblock %}