%imagecover {
	background-color:#0009;
	background-position: 50% 0%;
	background-size: cover;
	background-blend-mode:darken;
}

%vcenter { @include flexa(center,center) }


%block-shadow {
    box-shadow: 0 2px 1px var(--shadow);
}

%display-none {
	display: none;
}