@mixin size-x {
	@for $i from 5 through 95 {
		.g-block.size-#{$i},
	    .size-#{$i} {
            @include flex(0 $i * 1%);
            width: $i * 1%;
			.res { width: $i*1%; }
        }
	}
}

@mixin size-x-2 {

	@for $i from 1 through 100 {
	    .size-#{$i} {
            @include flex(0 $i * 1%);
            width: $i * 1%;
        }
	}

	@include breakpoint(tablet-range) {

		%q25 { width: 25%; @include flex(0 25%); }
		%q50 { width: 50%; @include flex(0 50%); }
		%q100 { width: 100%; @include flex(0 100%); }
		
		@for $i from 1 through 25 {
			.size-#{$i} {
				@extend %q25
			}
		}
		@for $i from 26 through 50 {
			.size-#{$i} {
				@extend %q50
			}
		}
		@for $i from 51 through 100 {
			.size-#{$i} {
				@extend %q100
			}
		}
	
	}
	
	@include breakpoint(large-mobile-range) {
		
		%h50 { width: 50%; @include flex(0 50%); }
		%h100 { width: 100%; @include flex(0 100%); }
		
		@for $i from 1 through 4 {
			html [class*=size-#{$i}] {
				@extend %h50
			}
		}

		@for $i from 51 through 59 {
			.size-#{$i} {
				@extend %h100
			}
		}
		
		@for $i from 6 through 9 {
			html [class*=size-#{$i}] {
				@extend %h100
			}
		}
	
	}	

	@include breakpoint(small-mobile-range) {
		html [class*=size-] {
			width: 100%; 
			@include flex(0 100%);
		}
	}
}
