@keyframes paralax-v {
	0% { background-size: cover; background-position: 50% 60%; }
	60% { background-size: cover; background-position: 50% 45%; }
	100% { background-size: cover; background-position: 50% 60%; }
}

@keyframes paralax-h {
	0% { background-size: 155%; background-position: 50% 50%; }
	50% { background-size: 150%;  background-position: 48% 50%;}
	70% { background-size: 150%;  background-position: 52% 50%;}
	100% { background-size: 155%; background-position: 50% 50%; }
}

@keyframes zoom {
	0% { background-position: 50% 50%; background-size:120%; }
	25% { background-size:120%; }
	27% { background-size:125%; }
	29% { background-size:120%; }
	75% { background-size:126%; }
	90% { background-size:120%; }
	100% { background-position: 50% 50%; background-size:120%; }
}

@keyframes fade {
	0% { box-shadow:inset 0 0 0 3000px #0009; }
	50% { box-shadow:inset 0 0 0 3000px #0000; }
	100% { box-shadow:inset 0 0 0 3000px #0009; }
}

@keyframes block-fade {
	0% { opacity: 0 }
	100% { opacity: 1 }
}
@keyframes block-slide-left {
	0% { transform: translateX(-100%); }
	100% { transform: translateX(0); }
}
@keyframes block-slide-right {
	0% { transform: translateX(100%); }
	100% { transform: translateX(0); }
}
@keyframes block-bounce {
	0% { transform: translateY(-20px); }
	50% { transform: translateY(2px); }
	60% { transform: translateY(-10px); }
	70% { transform: translateY(0px); }
	80% { transform: translateY(-5px); }
	85% { transform: translateY(0px); }
	90% { transform: translateY(-3px); }
	100% { transform: translateY(0); }
}

.banim-fade {
	animation-name: block-fade;
	animation-duration: 1.5s;
}
.banim-slide-l {
	animation-name: block-slide-left;
	animation-duration: 1.5s;
}
.banim-bounce {
	animation-name: block-bounce;
	animation-duration: 1s;
}
.banim-slide-r {
	animation-name: block-slide-right;
	animation-duration: 1.5s;
}
