main {
  content-visibility: auto;
  contain-intrinsic-size: 100vh;
}


.module-grid {

    .g-content { 
      display: flex;
      flex-flow: row wrap; 
      margin:0; 
      padding: 0;
    }

    .moduletable { 

      .g-title { 
        font-size: .8rem;
        font-weight: 700;
        margin-bottom: var(--line-margin); 
        color: #666;
        padding-bottom: .5rem;
        border-bottom: 1px dotted #666
      }
      
      padding: var(--padding);
      width: 100%; 
    }

    &.half .moduletable { width: 50%; }
    &.third .moduletable { width: 33.3%; }
    &.quater .moduletable { width: 25%; }

}