@each $name, $set in $layout-sections {
	
	--ada-#{$name}: 1;
	
	@if (not-empty(map-get($set,'color'))) { 
		$color: map-get($set,'color');
		
		.section-#{$name} {
			@include hsl-var($color); 
			@if (map-get($set,'hover')) { --ho: map-get($set,'hover'); }
			@if (map-get($set,'active')) { --ac: map-get($set,'active'); }
		}
		
	}

}