// component - 12/10/20 10:45:23
@import 'component/_body';
@import 'component/alert';
@import 'component/blockquote';
@import 'component/buttons';
@import 'component/form';
@import 'component/heading';
@import 'component/inline';
@import 'component/list';
@import 'component/menu';
@import 'component/notices';
@import 'component/pre';
@import 'component/section';
@import 'component/table';
