.content-array {

    .g-block {
        margin-bottom: var(--line-margin);
    }


    .g-array-item-details {
        font-size: .8rem;
        font-weight: 300;

        i {padding-right: .25rem; }
    }

    .g-array-item-text {
        margin-top: .5rem;
        font-size: .9rem;
    }

    .g-array-item-read-more {
        margin: 1rem 0;
    }

    &[data-cols="1"] {

        .g-array-item {
            padding-left: calc(120px + 1rem);
            position: relative;
        }
        
        .g-array-item-image {
            height: 90px;
            width: 120px;
            position: absolute;
            top: 0;
            left: 0;
            img { 
                width: 100%; 
                height: 100%; 
                background: #eee;
                border: 1px solid #ddd;
                padding: .15rem;
            }
            margin-right: 1rem; 
        }
    }


}


.whtcontent-array:not(.g-grav-pages) {

    .g-array-item {
        padding-left: calc(120px + 1rem);
        position: relative;
    }

    .g-array-item-image {
        height: 90px;
        width: 120px;
        position: absolute;
        top: 0;
        left: 0;
        img { 
            width: 100%; 
            height: 100%; 
            background: #eee;
            border: 1px solid #ddd;
            padding: .15rem;
        }
        margin-right: 1rem; 
    }

}

.list-blog-header {


    .article-title { 
        font-size: 4rem;
        font-weight:300;
    }

    &.cover {

        position: relative;
        min-height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column wrap;
    
        @extend %imagecover;

        .article-title,
        .list-blog-meta { color: #fff; }
    }


}

.list-blog-padding {
    padding-top: 2rem;
}

