[card] {
	.title { color: var(--accent-d); }
	border-radius: .25rem;
	padding: var(--padding);
}

[bones] {
	.title { color: var(--accent); }
	border: 1px solid var(--face-l);
	background-color: transparent !important;
	color: var(--text) !important;
}