.alert {

	--neu-icon: '\f05a';

	background-color: var(--alert, var(--neu));
	border: 1px solid var(--border, var(--neu-d));;
	padding: .5rem 1rem .5rem 3rem;
	margin: 1rem 0;
	line-height: 1.3;
	font-size: .9rem;
	position: relative;
	
	&:before {
		position: absolute;
		margin-left: -3rem;
		font-family: FontAwesome;
		content: var(--icon, var(--neu-icon));
		color: var(--border, var(--neu-d));
		text-align: center;
		display: block;
		width: 3rem;
		padding-top: .5rem;
		top: 0;
		
	}

}
	
#g-floats .alert {
	position: absolute;
	bottom: 2rem;
    right: 3rem;
}