select { margin-bottom: 0 }

fieldset {
	margin: 0;
	padding: 0;
}

textarea, select, select[multiple=multiple], #{$all-text-inputs} {
	width: 100%;
	border: 1px solid var(--shade);
	background-color: var(--w0);
	color: var(--black);
	padding: 0.25em 0.5em;
	border-radius: var(--bradius);
}

textarea {
	line-height: 1.2;
	&.mono { font-family: monospace; }
}

.form-actions {
	position: relative;
	display: flex;
	flex-flow: wrap;
	justify-content: space-between;
}

.form-field { 
	margin-bottom: 1rem; 
	width:100%;
}

form label { font-weight: 700 }

.form-field { 
	.form-label { 
		label {  }
	}
	.form-data {
		width:100%;
		.form-input-wrapper {  }
		.form-textarea-wrapper { }
	}

}

.inline-form .form-field { 
	margin-bottom: 1rem; 
	width:100%;
	@include flex(row,center,start);

	.form-label {
		flex: 1 0 40%;
	}
	
	.form-data {
		flex: 1 0 60%;
		.form-input-wrapper {  }
		.form-textarea-wrapper { }
	}

}


