$list-types: [
	'circle',
	'disc',
	'square',
	'armenian',
	'cjk-ideographic',
	'decimal',
	'decimal-leading-zero',
	'georgian',
	'hebrew',
	'hiragana',
	'hiragana-iroha',
	'katakana',
	'katakana-iroha',
	'lower-alpha',
	'lower-greek',
	'lower-latin',
	'lower-roman',
	'upper-alpha',
	'upper-greek',
	'upper-latin',
	'upper-roman',
];

ol,ul { counter-reset: li; }
li { counter-increment: li; }

@each $type in $list-types {


	.#{$type} {
		ol, ul {
			list-style: none;
			
			$li: counter(li, unquote($type));
			
			@if ($type == 'disc') { $li: "\2022"; }
			@if ($type == 'circle') { $li: "\25E6"; }
			@if ($type == 'square') { $li: "\25AA"; }
			
			li::before { 
				content: $li;
				color: var(--txt-t2);
				display: inline-block; 
				width: 1em; margin-left: -1.5em;
				margin-right: 0.5em; 
				text-align: right; 
				direction: rtl				
			}
		}
	}		
	
}
	

.li-none {
	ol, ul {
		list-style: none;
		padding-left: 0;
	}
}

.li-custom-1 {
	
	ol, ul {
		list-style-type: none;

		.parent:after {
			color: $accent-color-2;
			content: var(--txt-t1);
		}
		
		.parent.open:after { content: ''; }
		
		li:before {
			position: absolute;
			top: 0;
			left: -1.5rem;
			content: "\25b6";
			color: var(--txt-t2);
		}
	}
}
	
.li-custom-2 {

	ol, ul {

		list-style-type: none;
		counter-reset: li;
		padding-left:1.5rem;

		li.parent:after {
			float: right; color: var(--txt-t2); 
		}
		
		li {
			counter-increment: li;
			position: relative;
		}
		
		ol {
			counter-increment: ol;
			padding-left: 2rem
		}
		
		li:before {
			position: absolute;
			top: 0;
			left: -1.5rem;
			content: counter(li)".";
			font-size: .9rem;
			line-height: 1.5;
			color: var(--txt-t1);
		}
		
		ul li:before,
		ol li:before {
			left: -2rem;
			content: counters(li,".") ".";
		}

	}
}


