.notices {
	background-color: var(--notices, var(--neu-l));
	border: 1px solid var(--border, var(--neu));
	padding: 1rem;
	line-height: 1.3;
	margin: 1rem 0;
	color: var(--txt);
	position: relative;
	font-size: .9rem;
	width: 100%;
	
	&:after {
		cursor:pointer;
		position: absolute;
		top: .25rem;
		right: .25rem;
		content: "\f00d";
		font-family: FontAwesome;
		color: var(--border, var(--neu));
	}
}