.res {

    opacity: 0; 
	visibility: hidden;
	transition: all .25s ease-in-out, height 0.025s linear;
	&.left { transform: translateX(-100%)}
    &.right {  transform: translateX(100%) }

	&.res-show {
		transition: all .25s ease-in-out, height 0.025s linear;
		visibility: visible;
		opacity:1;
		z-index: 9;
		transform: translateX(0) !important;
	}

    &.swipe { position: fixed; width: inherit; }
    &.touched {opacity: .4; }

	@include breakpoint(mobile-only) {
        opacity: 0; 
		visibility: hidden;
		&.left { transform: translateX(-100%)}
        &.right {  transform: translateX(100%) }
	}

	@include breakpoint(not-mobile) {
		visibility: visible;
		opacity:1;
		z-index: 9;
		transform: translateX(0) !important;
	}

}

.res-ctl {

    min-width: var(--ctl-width);
    min-height: var(--ctl-height);
    align-items: center;
    justify-content: center;
    position: absolute;
    display: none;
    padding: calc(var(--ctl-height) / 6);
    z-index: 99;
    transition: all .25s ease;

    i { 
        transition: inherit;
        font-size: calc(var(--ctl-height) / 2); 
        }
        
    span { font-size: .9rem; margin-left: .5rem; }

    &.active {
    	i { transform: rotate(180deg); }
    }

    &.active.right {
    	i { transform: rotate(90deg); }
    }

    &.active.left {
    	i { transform: rotate(-90deg); }
    }


    &.show { display: flex; }
    &.fixed { position: fixed; }
    &.left { left: var(--margin); }
    &.right { right: var(--margin); }
    &.bottom { bottom: var(--margin); }
    &.top { top: 0 }

	@include breakpoint(mobile-only) {
		display: flex;
	}


}

