table {
	--table: var(--w1);
	--cell: var(--w1);
    --border: var(--color);
    --header: var(--lc);
	--odd: var(--w0);
	--width: 100%;
    border: 1px solid var(--border,var--(neu));
    border-collapse: collapse;
	background-color: var(--table,var(--neu-l));
	width: var(--width);
	th,td { 
		background-color: var(--cell,var(--neu));
		border: 1px solid var(--border,var(--neu-l));
		padding: var(--padding); 
	}

	th {
		background-color: var(--header,var(--neu-d));
		font-size: .9rem;
	}

}

table.stripes,
.stripes table {
	tr:nth-child(odd) td { background-color: var(--odd,var(--tint)); }
}

.rounded-corner {

	table {
		--bradius: .5rem;
		overflow:hidden;
		border-collapse: separate;
		border-radius: var(--bradius);
	  
		tr:first-child {
			th:first-child {  border-top-left-radius: var(--bradius);}
			th:last-child {  border-top-right-radius: var(--bradius);}
		}
		
		tr:last-child {
			td:first-child {  border-bottom-left-radius: var(--bradius);}
			td:last-child { border-bottom-right-radius: var(--bradius);}
		}
		
		th,td { border:none; }
		
	}
}

.bones table { 
    --cell: #0000;
    --border: #0001;
    --table: #0000;
    --header:#0000;
}

.compact table { 
	--width: auto; 
	--padding: 3px 6px;
}